podcast-show-notes-generator/workflow.json
{
  "name": "Podcast Show Notes Generator",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1wbjPcOQM7Om1sN3gRwIBthrYUKqFnbskmLOtKC4t4wI",
          "mode": "list",
          "cachedResultName": "Podcast Upload Form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wbjPcOQM7Om1sN3gRwIBthrYUKqFnbskmLOtKC4t4wI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 336534396,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wbjPcOQM7Om1sN3gRwIBthrYUKqFnbskmLOtKC4t4wI/edit#gid=336534396"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1648,
        -16
      ],
      "id": "eede6aa0-f16c-4f32-9e6c-021435f8906f",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "eptRWdUko6Fy2WCg",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<YOUR_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        -16
      ],
      "id": "fd96009a-be26-4695-a407-be9a2c908522",
      "name": "Upload Audio in AssemblyAI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "<YOUR_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $('Upload Audio in AssemblyAI').item.json.upload_url }}"
            },
            {
              "name": "speaker_labels",
              "value": "true"
            },
            {
              "name": "auto_highlights",
              "value": "true"
            },
            {
              "name": "iab_categories",
              "value": "true"
            },
            {
              "name": "auto_chapters",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        -16
      ],
      "id": "8e4dd794-13a8-4ed9-b2e3-e28c652e276c",
      "name": "Start Transcribing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "887255fa-5d81-4105-8402-050295175be6",
              "leftValue": "={{ $('Get Status').item.json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        -16
      ],
      "id": "34e3c9cb-cc1a-4caf-a8ce-1aec4e92a792",
      "name": "Is Done?"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "<YOUR_API_KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        -80
      ],
      "id": "38781f4e-eb3d-4bdb-8ad7-15f742b1807b",
      "name": "Get Status"
    },
    {
      "parameters": {
        "jsCode": "const utterances = $json.utterances;\nlet formatted = \"\";\n\nfor (const u of utterances) {\n  const minutes = Math.floor(u.start / 60000);\n  const seconds = Math.floor((u.start % 60000) / 1000);\n  const timestamp = `[${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}]`;\n\n  formatted += `${timestamp} [SPEAKER ${u.speaker}] ${u.text}\\n\\n`;\n}\n\nreturn [{ json: { formatted_transcript: formatted,\n                episode_title: $('Prepare Podcast Metadata').first().json[\"Episode Title \"],\n                speaker_names: $('Prepare Podcast Metadata').first().json[\"Speaker Names\"],\n                notes: $('Prepare Podcast Metadata').first().json.Notes\n                } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -16
      ],
      "id": "107af2da-185b-418a-b6db-9635c68b59e5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "175a08fa-c987-4ed5-ac39-94fa1e34f80b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bHGNpPCrwKcZFYDZ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1AM3pGaWnyPTPmNdyIPgC0rdBzLLQBVYq",
        "title": "=Transcript and Report - {{ $('Code in JavaScript').item.json.episode_title }} "
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        496,
        -16
      ],
      "id": "3ee9c855-4430-42eb-89e6-9fce001a191c",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FYdDefUntNwoOswp",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Podcast Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        -16
      ],
      "id": "e1af5247-7a4c-4c7b-be5b-8f6dba3ec970",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FYdDefUntNwoOswp",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Podcast Title: {{ $json.episode_title }}\n\nTranscript:\n{{ $json.formatted_transcript }}\n\nSpeaker Names:\n{{ $json.speaker_names }}\n\nPlease generate the complete formatted show notes based on the system instructions.\n",
        "options": {
          "systemMessage": "=You are the Podcast Show Notes Generator AI Agent.\n\nYour purpose is to transform a clean, timestamped podcast transcript into high-quality, SEO-optimized show notes. \n\nFollow these goals and rules:\n\n1. **Tone and Style**\n   - Match the brand’s tone: {{ $json.notes }}\n   - Keep a professional but conversational style.\n   - Write as if summarizing for Spotify, Apple Podcasts, or YouTube episode descriptions.\n\n2. **Output Format**\n   You must return the result as structured Markdown with the following sections:\n\n   ## Episode Summary\n   - Write 1–3 engaging paragraphs summarizing the main discussion points and context.\n\n   ## Key Takeaways\n   - Write 5–10 concise, scannable bullet points capturing insights, lessons, or memorable quotes.\n\n   ## Chapters\n   - List the main sections of the episode using the timestamps found in the transcript.\n   - Format each chapter as: `[00:00] Introduction: Topic`\n\n   ## SEO Keywords\n   - List 5–10 relevant SEO keywords or phrases naturally derived from the conversation.\n   - Include target keywords if available.\n\n   ## Disclaimer\n   - Add this line at the end:\n     \"_Disclaimer: The views and opinions expressed in this episode are those of the speakers and do not necessarily reflect the views of the production team._\"\n\n3. **Data Context**\n   - Use the full transcript to identify themes and flow.\n   - Use speaker names if provided (e.g., {{ $json.speaker_names }}).\n   - Detect transitions or topic changes using timestamps.\n\nYour objective is to produce a polished, ready-to-publish Markdown output suitable for show notes, website posts, or RSS descriptions.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        -16
      ],
      "id": "c9bb1dea-1341-4f36-be8c-e8abcf48d069",
      "name": "Podcast Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d109c120-7d0f-4def-aa5f-219d53c9a1c8",
              "name": "Timestamp",
              "value": "={{ $json.Timestamp }}",
              "type": "number"
            },
            {
              "id": "e6841ee3-51d7-4196-b75f-f06f4fc14c79",
              "name": "Episode Title ",
              "value": "={{ $json['Episode Title '] }}",
              "type": "string"
            },
            {
              "id": "91d4d478-43a0-496f-82f6-67e0a9a2d265",
              "name": "Audio File",
              "value": "={{ $json['Audio File'] }}",
              "type": "string"
            },
            {
              "id": "f048e843-c438-4093-8c0a-df2e98ad6be7",
              "name": "Speaker Names",
              "value": "={{ $json['Speaker Names'] }}",
              "type": "string"
            },
            {
              "id": "f82a5f38-cd50-48d7-b507-3984b516a72f",
              "name": "Notes",
              "value": "={{ $json.Notes }}",
              "type": "string"
            },
            {
              "id": "603cf24a-446f-43b6-a07a-d296c45a20dd",
              "name": "Audio ID",
              "value": "={{ $json[\"Audio File\"].match(/[-\\w]{25,}/)[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        -16
      ],
      "id": "be6c6df0-a509-4840-9395-cdfc191647ab",
      "name": "Prepare Podcast Metadata"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['Audio ID'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1200,
        -16
      ],
      "id": "98f38b51-9f89-4204-9443-18b43057570f",
      "name": "Fetch Podcast Audio from Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "R3h6xi4OTiD2fROQ",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {
    "Upload Audio in AssemblyAI": [
      {
        "json": {
          "upload_url": "https://cdn.assemblyai.com/upload/0bd3a5a5-e81e-4f0b-b1bd-ebe40f8f7109"
        }
      }
    ],
    "Start Transcribing": [
      {
        "json": {
          "id": "f425209f-36a7-4589-984c-e30c7bee77e4",
          "language_model": "assemblyai_default",
          "acoustic_model": "assemblyai_default",
          "language_code": "en_us",
          "speech_understanding": null,
          "translated_texts": null,
          "status": "queued",
          "audio_url": "https://cdn.assemblyai.com/upload/0bd3a5a5-e81e-4f0b-b1bd-ebe40f8f7109",
          "text": null,
          "words": null,
          "utterances": null,
          "confidence": null,
          "audio_duration": null,
          "punctuate": true,
          "format_text": true,
          "dual_channel": false,
          "webhook_url": null,
          "webhook_status_code": null,
          "webhook_auth": false,
          "webhook_auth_header_name": null,
          "speed_boost": false,
          "auto_highlights_result": null,
          "auto_highlights": true,
          "audio_start_from": null,
          "audio_end_at": null,
          "word_boost": [],
          "boost_param": null,
          "prompt": null,
          "keyterms_prompt": null,
          "filter_profanity": false,
          "redact_pii": false,
          "redact_pii_audio": false,
          "redact_pii_audio_quality": null,
          "redact_pii_audio_options": null,
          "redact_pii_policies": null,
          "redact_pii_sub": null,
          "speaker_labels": true,
          "speaker_options": null,
          "content_safety": false,
          "iab_categories": true,
          "content_safety_labels": {},
          "iab_categories_result": {},
          "language_detection": false,
          "language_detection_options": null,
          "language_detection_results": null,
          "language_confidence_threshold": null,
          "language_confidence": null,
          "custom_spelling": null,
          "throttled": false,
          "auto_chapters": "true",
          "summarization": false,
          "summary_type": null,
          "summary_model": null,
          "custom_topics": false,
          "topics": [],
          "speech_threshold": null,
          "speech_model": null,
          "speech_models": [
            "universal"
          ],
          "speech_model_used": null,
          "chapters": null,
          "disfluencies": false,
          "entity_detection": false,
          "sentiment_analysis": false,
          "sentiment_analysis_results": null,
          "entities": null,
          "speakers_expected": null,
          "summary": null,
          "custom_topics_results": null,
          "is_deleted": null,
          "multichannel": null,
          "project_id": 1427566,
          "token_id": 1439471
        }
      }
    ],
    "Create a document": [
      {
        "json": {
          "kind": "drive#file",
          "id": "1uNhltGUYS68ahEtQ6mYeNPIYiuBsQ0hwfPAegndpsog",
          "name": "Transcript and Report - Joe Rogan - Jordan Peterson's Philosophy on Self Improvement ",
          "mimeType": "application/vnd.google-apps.document"
        }
      }
    ],
    "Podcast Agent": [
      {
        "json": {
          "output": "## Episode Summary\nIn this insightful episode, Joe Rogan and Jordan Peterson dive deep into Peterson's philosophy on self-improvement, focusing on the powerful concept of addressing personal insufficiencies and the wisdom of \"aiming low enough.\" Peterson argues that the most effective strategic position for anyone is to honestly assess their shortcomings and actively work to rectify them, emphasizing that both the insufficiency and the capacity to improve are within one's grasp.\n\nPeterson elaborates on the seemingly counterintuitive idea of \"aiming low enough,\" explaining it as a humble yet powerful approach to setting realistic, incremental goals. Using vivid analogies like teaching a child and his personal journey with weightlifting, he illustrates how small, consistent steps, though not immediately glorious, compound over time to create significant transformation. He introduces the \"Matthew Principle\" to highlight how initial small successes can rapidly lead to greater achievements, providing a compelling argument against inaction, bitterness, and external blame in favor of personal responsibility and gradual, consistent effort.\n\n## Key Takeaways\n*   Identify your personal insufficiencies as the starting point for effective self-improvement.\n*   \"Aim low enough\" by setting humble, achievable goals that you can realistically attain.\n*   Incremental steps, though seemingly minor, compound over time to create substantial progress.\n*   Humility in goal-setting prevents discouragement and fosters consistent effort.\n*   Taking personal action and responsibility is far more effective and less dangerous than bitterness or blaming others.\n*   The \"Matthew Principle\" illustrates how small successes lead to more rapid and significant progress over time.\n*   Even un-glorious initial goals are crucial for building momentum and avoiding stagnation.\n\n## Chapters\n*   [00:00] Jordan Peterson: Rectifying personal insufficiency and taking action\n*   [00:30] Joe Rogan: Understanding the concept of \"aiming low enough\"\n*   [00:35] Jordan Peterson: Setting achievable goals and the importance of incremental steps\n*   [01:23] Jordan Peterson: The weightlifting analogy for self-improvement and consistent effort\n*   [02:30] Jordan Peterson: The Matthew Principle and how success compounds\n\n## SEO Keywords\nJordan Peterson philosophy, Self-improvement, Personal growth, Incremental steps, Aim low enough, Matthew Principle, Goal setting, Humility, Joe Rogan podcast, Personal responsibility\n\n## Disclaimer\n_Disclaimer: The views and opinions expressed in this episode are those of the speakers and do not necessarily reflect the views of the production team._"
        }
      }
    ],
    "Fetch Podcast Audio from Drive": [
      {
        "json": {
          "Timestamp": 45959.402595949075,
          "Episode Title ": "Joe Rogan - Jordan Peterson's Philosophy on Self Improvement",
          "Audio File": "https://drive.google.com/open?id=13J_AmwGA9s55WMZVfQOg4vfYvR1wZ7fT",
          "Speaker Names": "Joe Rogan, Jordan Peterson",
          "Notes": "Maintain a conversational tone. Add disclaimer about opinions expressed.",
          "Audio ID": "13J_AmwGA9s55WMZVfQOg4vfYvR1wZ7fT"
        }
      }
    ]
  },
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Prepare Podcast Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio in AssemblyAI": {
      "main": [
        [
          {
            "node": "Start Transcribing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Transcribing": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Done?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Transcribing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Is Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Podcast Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Podcast Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Agent": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Podcast Metadata": {
      "main": [
        [
          {
            "node": "Fetch Podcast Audio from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Podcast Audio from Drive": {
      "main": [
        [
          {
            "node": "Upload Audio in AssemblyAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cfa845c8-088b-4c25-9228-94077e871b67",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7824031308db534c7c9e014216a02a2cfe1378532902e3ebe0cf84de7a241ad"
  },
  "id": "HiM5oBkh4S7VLnra",
  "tags": []
}