payroll-chatbot-agent/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "498dabc3-0a5c-4f60-8bec-524338d4b679",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "f7c25d91-a561-4915-b5ec-ea33f982b29c",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "60dc88bd-4c2c-49f6-a24e-443f5e20b1ab",
              "name": "ref",
              "value": "={{ $json.ref }}",
              "type": "string"
            },
            {
              "id": "3b4d577d-e53b-4644-8914-5ef339b21b2e",
              "name": "embedding_table_name",
              "value": "document_finances_knowledge_base",
              "type": "string"
            },
            {
              "id": "30309ddb-56d4-479d-bb36-cd4536c48359",
              "name": "escalation_email",
              "value": "finance@nms.ph",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        704
      ],
      "id": "3c263f1d-407d-41cb-909c-ed72e50df2c7",
      "name": "TriggerConfig"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=My Question: {{ $json.message }}",
        "options": {
          "systemMessage": "=You are **Finance Assistant**, a **Finance Chatbot Message Analyzer** specialized in identifying and categorizing finance-related messages.  \n**Current Date and Time:** {{ $now }}  \n\nYou must always call the **Think Tool** first before analyzing the message, then call the **Finance FAQ Tool**, and finally classify the message accurately.  \n\n---\n**Special Handling Rules:**  \n- Always call the **Think Tool** first.  \n- If **type = finance_query** →  \n  1. Call the **Finance FAQ Tool** to check if the answer exists.  \n  2. **If answer is found in Finance Knowledge Base:**  \n     - Generate a **friendly reply** containing the answer.  \n     - **Do not trigger escalation or call any tools.**  \n  3. **If answer is not found in Finance Knowledge Base:**  \n     - **Check if `[USER_EMAIL]` is provided:**  \n       - **If email exists:** automatically escalate by invoking the `Finance Escalation Email Sender` tool with the following parameters:  \n         - **to:** `[USER_EMAIL]`  \n         - **subject:** `Finance Escalation: [USER_QUERY]`  \n         - **body:** the HTML escalation block:\n\n<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: auto; border: 1px solid #ddd; border-radius: 8px; padding: 20px; background-color: #f9f9f9;\">\n  <h2 style=\"color: #d9534f; text-align: center;\">🚨 Escalation Notice</h2>\n  <hr style=\"border: 0; border-top: 1px solid #ccc; margin: 10px 0;\">\n  <p><strong>📅 Date:</strong> [USER_FRIENDLY_DATE_WITH_TIMEZONE_LOCATION]</p>\n  <p><strong>📧 User Email:</strong> [USER_EMAIL]</p>\n  <p><strong>💬 Message:</strong> [USER_QUERY]</p>\n  <p><strong>⚡ Status:</strong> Pending Review by Finance Support</p>\n  <hr style=\"border: 0; border-top: 1px solid #ccc; margin: 10px 0;\">\n  <p style=\"text-align: center; color: #555; font-size: 0.9em;\">This escalation has been automatically generated by Finance Assistant</p>\n</div>\n\n       - **After invoking the tool, also include in the reply:**  \n         - “✅ Your query has been escalated to Finance. You will receive a follow-up shortly.”  \n\n       - **If email is missing:** reply politely asking for the email first:  \n         - “😅 I’ll need to escalate this to Finance. Can you provide your email so they can get back to you? 📧”  \n\n- If **type = other** →  \n  - Respond as normal, friendly, warm, per original rules.  \n\n---\n**Output Schema:**  \n{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Message Schema\",\n  \"description\": \"Schema for classifying a message by type, storing its content, and optional reply.\",\n  \"type\": \"object\",\n  \"required\": [\"type\", \"message\", \"reply\"],\n  \"properties\": {\n    \"type\": {\"type\": \"string\", \"enum\": [\"finance_query\", \"other\"]},\n    \"message\": {\"type\": \"string\"},\n    \"reply\": {\"type\": \"string\"}\n  }\n}\n\n---\n**STRICT OUTPUT RULES:**  \n- Respond with exactly **one JSON object** — no arrays, no multiple objects.  \n- Output must start with `{` and end with `}` — no extra text or Markdown.  \n- Always self-reflect to ensure valid JSON before sending.  \n- Only ask for email if none was provided; otherwise automatically invoke the `Finance Escalation Email Sender` tool.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1168,
        720
      ],
      "id": "fb9e4e4a-b82f-4c92-8abf-d0747b9f71da",
      "name": "Finance Assistant"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        656,
        1168
      ],
      "id": "1ee76f33-3086-47d8-8dd5-6acf84dfbc61",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Z4lvwCe4xAcnLqRr",
          "name": "OpenRouter PROD"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1216,
        1008
      ],
      "id": "3d019c1c-e5b4-4779-a07b-13cdfb7aa4b1",
      "name": "Calculator"
    },
    {
      "parameters": {
        "message": "={{ $json.output.reply }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2160,
        720
      ],
      "id": "c84659a3-10f6-4514-9bfd-736a05cac3f4",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "498dabc3-0a5c-4f60-8bec-524338d4b679",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "f7c25d91-a561-4915-b5ec-ea33f982b29c",
              "name": "message",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "60dc88bd-4c2c-49f6-a24e-443f5e20b1ab",
              "name": "ref",
              "value": "chat-workflow",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        704
      ],
      "id": "826b7f15-8dd4-44c7-9c91-fdffc76c7bcc",
      "name": "Chat Config"
    },
    {
      "parameters": {
        "tableName": "n8n_knowledge_base_finance_chat_histories",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1088,
        1008
      ],
      "id": "646ff266-f98c-470a-b107-c1541e23610e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "US5FqkN6nLeCxKAB",
          "name": "Postgres - PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "498dabc3-0a5c-4f60-8bec-524338d4b679",
              "name": "sessionId",
              "value": "=telegram:{{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "f7c25d91-a561-4915-b5ec-ea33f982b29c",
              "name": "message",
              "value": "=Hello, my name is @{{ $json.message.chat.username }},\n**Question:** {{ $json.message.text }}\n\n**Additional Reminder:***\n- Please always mention me eg. @{{ $json.message.chat.username }} when you respond.\n- my messaging app is \"Telegram\"\n",
              "type": "string"
            },
            {
              "id": "f8d0037d-9be9-427e-b88b-72d0f55df5d9",
              "name": "ref",
              "value": "telegram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        512
      ],
      "id": "0dd1ae6e-800a-4bfa-9809-16854a56e594",
      "name": "Telegram Config"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1ZQa2MlR6OhUIA9f-jVflxqy6JTrwpotqUfNXYrZU2fU",
          "mode": "list",
          "cachedResultName": "NMS FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZQa2MlR6OhUIA9f-jVflxqy6JTrwpotqUfNXYrZU2fU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1503438222,
          "mode": "list",
          "cachedResultName": "FINANCE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZQa2MlR6OhUIA9f-jVflxqy6JTrwpotqUfNXYrZU2fU/edit#gid=1503438222"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        1792
      ],
      "id": "54bed553-0cc0-464e-a8d3-063199f52ff0",
      "name": "Finance FAQ",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "mAI0fDvv46jdiyQs",
          "name": "Google Sheets - PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df6c16e-5e07-410b-8981-72e09aef6267",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        720
      ],
      "id": "94a38673-5b18-47f7-8d02-ccce133ad39e",
      "name": "Output parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('TriggerConfig').item.json.ref }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "874fa787-f784-4a2f-8b61-a75d8cab6034"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea081d95-a6c8-4961-82fd-0c0f33e83e49",
                    "leftValue": "={{ $('TriggerConfig').item.json.ref }}",
                    "rightValue": "chat-workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat-workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5b8c8ca7-25da-4e37-946c-f5c85c67290e",
                    "leftValue": "={{ $('TriggerConfig').item.json.ref }}",
                    "rightValue": "webhook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "webhook"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1920,
        704
      ],
      "id": "2819154f-caa3-4461-8d0b-8aa23b5d38d7",
      "name": "Response Router"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        704
      ],
      "id": "a8b74a6c-404c-4d94-a14b-40f0f52fba1e",
      "name": "Chat Trigger",
      "webhookId": "3f228378-4df5-4588-a426-9fcf26a0cfb5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Pull and Store the Dataset in Vector Database for Finance Knowledge Base - FAQs\n\n### Refer to the Google Sheet link below for a sample format and example input for importing datasets into the database:\n\nFinance Knowledge Base Sample Dataset: https://docs.google.com/spreadsheets/d/126vRupYNvolN83_fffoYu56G9sMTM-kNLkzBMY61qKI/edit?usp=sharing\n",
        "height": 720,
        "width": 1824,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        1568
      ],
      "typeVersion": 1,
      "id": "4ebe0420-62d3-49f9-b632-ae411de392b9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nconst dataItems = $input.first().json.data\n\nfor (let i = 0; i < dataItems.length; i++) {\n  const item = dataItems[i];\n  const id = item.ID || '';\n  const q = item.QUESTION || '';\n  const a = item.ANSWER || '';\n\n  if (!id || !q || !a) {\n    continue; // skip if id is empty\n  }\n\n  const combined = `QUESTION: ${q}\\nEXACT_ANSWER: ${a}`;\n\n  results.push({\n    json: {\n      id,\n      text: combined\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        1792
      ],
      "id": "5db171d6-e3df-4c9e-ae05-0a7d372ff3a2",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "### 🔐 Setup Instructions\n- ✅ **Step 1: Connect Telegram**\n  - Add **Telegram Trigger Node** and enter your Bot Token from BotFather.\n  - Enables realtime chat communication with users.\n- ✅ **Step 2: Connect the Chat Model AI**\n  - Use OpenRouter provider — openai/gpt-4.1-mini.\n  - Insert API keys into the **OpenRouter Chat Model** node credentials.\n- ✅ **Step 3: Connect Google Email Service**\n  - Add **Finance Escalation Email Sender** configured with Google OAuth2 credentials.\n  - Used to send escalation emails to finance support.\n  - You must change the email provided in the node\n- ✅ **Step 4: Connect the Embedding Cohere**\n  -  Insert API keys into the **Embedding Cohere Model** node credentials.\n  - model used: Embed-Multilingual-v3.0 (1024 Dimensions)\n- ✅ **Step 4: Setup Postgres Database**\n  - Configure PostgreSQL connection credentials for chat memory and vector store.\n  - Create necessary tables with the provided **Create Document Metadata Table** node SQL.\n- ✅ **Step 5: Prepare Finance Knowledge Base**\n  - Populate PostgreSQL vector table `document_finances_knowledge_base` using the code node.\n  - Use CSV or Google Sheets dataset import to add Q&A pairs.\n- ✅ **Step 6: Test the Workflow**\n  - Send test queries via Telegram or webhook.\n  - Confirm correct replies, escalation triggers, and memory saving.",
        "height": 652,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        432
      ],
      "id": "dda54f14-58da-4b6b-9c48-8cb85b5147a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "description": "Use this tool to find direct answers to factual questions. It is connected to the official Finance Frequently Asked Questions (FAQ) knowledge base, which contains answers to a wide variety of potential user queries. This is your primary tool for answering any specific question a user might ask.",
        "topK": 15
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1600,
        1072
      ],
      "id": "1a9dc3ca-15d9-4a73-8922-bb488b7418bd",
      "name": "Finance Knowledge Base"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        2160
      ],
      "id": "17c4dc6d-f71e-4848-9448-d9d293aba3b4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = '{{ $('Database Config').item.json.embedding_table_name }}') THEN\n        EXECUTE 'DELETE FROM {{ $('Database Config').item.json.embedding_table_name }} WHERE metadata->>''id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        1632
      ],
      "id": "c910c327-75c6-42dd-b9a4-f4fe01d288ed",
      "name": "Delete Data",
      "credentials": {
        "postgres": {
          "id": "US5FqkN6nLeCxKAB",
          "name": "Postgres - PROD"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "={{ $('Database Config').item.json.embedding_table_name }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        848,
        1936
      ],
      "id": "305f123f-9698-432e-a7b5-4ce788299703",
      "name": "Finance Knowledge Base - Storage1",
      "credentials": {
        "postgres": {
          "id": "US5FqkN6nLeCxKAB",
          "name": "Postgres - PROD"
        }
      }
    },
    {
      "parameters": {
        "tableName": "={{ $('TriggerConfig').item.json.embedding_table_name }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1520,
        1264
      ],
      "id": "366476a8-47d0-419d-8e36-a753f608a451",
      "name": "DB: Finance Knowledge Base",
      "credentials": {
        "postgres": {
          "id": "US5FqkN6nLeCxKAB",
          "name": "Postgres - PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "276bfa33-6566-4e58-985e-4a9a4890850f",
              "name": "embedding_table_name",
              "value": "document_finances_knowledge_base",
              "type": "string"
            },
            {
              "id": "a6074eea-e47c-4ee1-88bb-94029ef1c908",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1792
      ],
      "id": "74ccc8df-ceb3-4a1f-ad42-93a951e7260e",
      "name": "Database Config"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        176,
        1792
      ],
      "id": "5d06ff2e-0513-4722-b967-0db5fb3ab45d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3e842c6-5f08-42bc-be58-cb5f8597bce5",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "0a419853-93ff-4f2d-9305-ef4d8e3366c4",
              "name": "ref",
              "value": "webhook",
              "type": "string"
            },
            {
              "id": "29734408-4aed-4cdf-95d9-1b9f8828a1d9",
              "name": "message",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        944
      ],
      "id": "20e1c359-be36-4997-a44f-4b5381c2ff29",
      "name": "Webhook Input Mapper"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($json.output.reply) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2144,
        896
      ],
      "id": "89377b16-c3e2-431a-9deb-ba2a4c3257b5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1328,
        1008
      ],
      "id": "af9801de-a4d9-43be-a572-ecde93a27964",
      "name": "Think"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Use this tool to send email if question is not covered in the knowledge base or FAQ and need to escalate the query\n# Important\n- Do not use this tool if no email specified from user/human\n- Do not use this tool if not Finance related\n",
        "sendTo": "={{ $('TriggerConfig').item.json.escalation_email }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1472,
        1008
      ],
      "id": "72fd80a3-578d-49d5-ac3f-02644357e902",
      "name": "Finance Escalation Email Sender",
      "webhookId": "5a04c09a-aa2e-43f9-9539-ae9b80d604cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "MRLyhhzQGymegtux",
          "name": "Gmail account - PROD"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        896,
        2160
      ],
      "id": "76272e76-97b4-467d-829b-26dbe5d604cb",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "pIE5hEKmpufDQ5j1",
          "name": "CohereApi PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TriggerConfig').item.json.sessionId.replace(\"telegram:\", \"\") }}",
        "text": "={{ $json.output.reply }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        560
      ],
      "id": "22d137c3-0440-4ec7-b5fd-e6b8b6a64231",
      "name": "Send a text message",
      "webhookId": "d92f5905-05ca-4438-8598-33feadb49574",
      "credentials": {
        "telegramApi": {
          "id": "LH0exizr8XbLpwST",
          "name": "Telegram @finance_inquiry_chatbot - PROD"
        }
      }
    },
    {
      "parameters": {
        "content": "## Initial Database Setup\n\n> **Note:** This must be called **once** to set up the initial database tables.  \n\nAlternatively, you can copy the PostgreSQL queries provided, replace all placeholders, and execute them directly in your PostgreSQL environment.\n\n**Payload Node Configuration**  \n- **`embedding_table_name`**: Set the table name for storing the datasets  \n  *Example:* `document_finances_knowledge_base`  \n- **`embedding_dimension`**: Set the embedding dimension  \n  *Default:* `1024`  \n",
        "height": 512,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -80
      ],
      "typeVersion": 1,
      "id": "c1196f39-4317-400f-b1cd-1fe9e96094bb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60cccf40-a2dd-4913-b96c-23206c77f2aa",
              "name": "embedding_table_name",
              "value": "=document_finances_knowledge_base",
              "type": "string"
            },
            {
              "id": "7237d8ae-0ab2-4025-9137-a6761826f53b",
              "name": "embedding_dimension",
              "value": 1024,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        256
      ],
      "id": "d9e3685d-284c-4c9f-94cf-94ac9225a829",
      "name": "Payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create a table to store your documents\ncreate table {{ $('Payload').item.json.embedding_table_name }} (\n  id bigserial primary key,\n  text text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector({{ $json.embedding_dimension }}) -- change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_{{ $('Payload').item.json.embedding_table_name }} (\n  query_embedding vector({{ $json.embedding_dimension }}),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - ({{ $('Payload').item.json.embedding_table_name }}.embedding <=> query_embedding) as similarity\n  from {{ $('Payload').item.json.embedding_table_name }}\n  where metadata @> filter\n  order by {{ $('Payload').item.json.embedding_table_name }}.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        256
      ],
      "id": "9a5678d6-4065-4b14-8b46-b523e7c5b6be",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "US5FqkN6nLeCxKAB",
          "name": "Postgres - PROD"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        256
      ],
      "id": "c40fb144-606d-4e38-9f61-72279389fa94",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        512
      ],
      "id": "2fdfe10f-1c40-42c3-a16a-59ad325ed3d4",
      "name": "Telegram Trigger",
      "webhookId": "c778421d-9e4d-4698-a0b4-e59e3fbb6852",
      "credentials": {
        "telegramApi": {
          "id": "LH0exizr8XbLpwST",
          "name": "Telegram @finance_inquiry_chatbot - PROD"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c95ee520-5d39-47f1-8e76-d44fd496fa84",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        944
      ],
      "id": "83d0662c-8b0e-4aea-9563-0b5a108cd658",
      "name": "Webhook",
      "webhookId": "c95ee520-5d39-47f1-8e76-d44fd496fa84"
    },
    {
      "parameters": {
        "message": "={{ $json.output.reply }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1472,
        304
      ],
      "id": "8c670526-5cd2-44ba-95f6-5378893d34d9",
      "name": "Respond to Chat1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ $json.message.filter(item => item).join(\"\\n\").toJsonString() }}\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1472,
        480
      ],
      "id": "f7721e90-c63c-44d9-9d38-72a61a6638b6",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "chatId": "={{ $('TriggerConfig').item.json.sessionId.replace(\"telegram:\", \"\") }}",
        "text": "={{ $json.output.reply }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        144
      ],
      "id": "f37a13e0-b42d-4e66-a020-ece08b2c1d77",
      "name": "Send a text message1",
      "webhookId": "d92f5905-05ca-4438-8598-33feadb49574",
      "credentials": {
        "telegramApi": {
          "id": "LH0exizr8XbLpwST",
          "name": "Telegram @finance_inquiry_chatbot - PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e4efc7c-8ea9-4b12-a4ff-e27ca941d04a",
              "leftValue": "={{ $json.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "566ac3fb-633d-4d2d-b8fa-85ec120561cd",
              "leftValue": "={{ $json.message }}",
              "rightValue": "={{ $json.message }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        704
      ],
      "id": "c5121bc6-66b2-4b61-a0df-0f64f79cc9c8",
      "name": "input validation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "232bef6b-0f59-4e50-a1a9-72f3824d3b8b",
              "name": "message",
              "value": "={{ [!$json.sessionId ? '`sessionId` is required' : null , !$json.message ? '`prompt` message is required' : null ] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        528
      ],
      "id": "f07ebddd-4504-4121-b64c-ef01d24c7e5b",
      "name": "Validation Message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('TriggerConfig').item.json.ref }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "874fa787-f784-4a2f-8b61-a75d8cab6034"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea081d95-a6c8-4961-82fd-0c0f33e83e49",
                    "leftValue": "={{ $('TriggerConfig').item.json.ref }}",
                    "rightValue": "chat-workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat-workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5b8c8ca7-25da-4e37-946c-f5c85c67290e",
                    "leftValue": "={{ $('TriggerConfig').item.json.ref }}",
                    "rightValue": "webhook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "webhook"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1232,
        272
      ],
      "id": "a64ef240-dc0b-4baf-8f6c-7659d0af5ee7",
      "name": "Error: Response Router"
    }
  ],
  "connections": {
    "TriggerConfig": {
      "main": [
        [
          {
            "node": "input validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Assistant": {
      "main": [
        [
          {
            "node": "Output parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Finance Assistant",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Finance Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Finance Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Config": {
      "main": [
        [
          {
            "node": "TriggerConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Finance Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Config": {
      "main": [
        [
          {
            "node": "TriggerConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance FAQ": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output parser": {
      "main": [
        [
          {
            "node": "Response Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Router": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Chat Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Finance Knowledge Base - Storage1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Finance Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Finance Knowledge Base - Storage1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "DB: Finance Knowledge Base": {
      "ai_vectorStore": [
        [
          {
            "node": "Finance Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Database Config": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Database Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Input Mapper": {
      "main": [
        [
          {
            "node": "TriggerConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Finance Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Finance Escalation Email Sender": {
      "ai_tool": [
        [
          {
            "node": "Finance Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Finance Knowledge Base - Storage1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "DB: Finance Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Payload": {
      "main": [
        [
          {
            "node": "Create Document Metadata Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Telegram Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook Input Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input validation": {
      "main": [
        [
          {
            "node": "Validation Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finance Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Message": {
      "main": [
        [
          {
            "node": "Error: Response Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Response Router": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7824031308db534c7c9e014216a02a2cfe1378532902e3ebe0cf84de7a241ad"
  }
}