cv-analysis/workflow.json
{
  "name": "CV Analysis",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -608,
        -368
      ],
      "id": "5bb82705-95fc-4f03-9f8c-3a9105ddc0cd",
      "name": "PDF to Text Converter",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data0.fileExtension}}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "038987dc-afbe-4d8a-b1fc-751661dfeb34"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "994e14b8-0cd7-45c0-ae26-a8dc05c0a855",
                    "leftValue": "={{[\"png\",\"jpg\",\"jpeg\"]}}",
                    "rightValue": "={{ $binary.data0.fileExtension}}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -848,
        -288
      ],
      "id": "7431643a-8eb1-49d6-bd10-ff96a9eeae8c",
      "name": "File Type Segregation",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "=Hello!👋 To analyze your CV, please provide the following: Job (e.g., Junior Programmer), Skills (e.g., React.js, Laravel, PHP), and attach your CV. For job recommendations, simply leave the Job and Skills fields blank.",
        "options": {
          "allowFileUploads": true,
          "inputPlaceholder": "Type job title and skills required here...",
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1536,
        48
      ],
      "id": "b2f95616-0ad9-4ba0-bdc4-413b1ee32bef",
      "name": "Chat",
      "webhookId": "7cdc2b16-5eea-4e0a-8263-15ef0b32ae1f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-analysis",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1536,
        -96
      ],
      "id": "bd7b168a-7eb5-471d-9ba5-6fb9aa5c95e2",
      "name": "Webhook",
      "webhookId": "0c98749f-14db-493e-a7c6-d136e2e8e78d",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CV:{{ $('File Output Formatter').item.json.output }}\n\nApplication For:\n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a deterministic AI that analyzes CVs. \n1. Compare the CV’s hard skills, soft skills, experience, education, and certifications with the provided Job and Skills.\n2. Calculate suitability based on % of required hard skills matched:\n- Strong Fit = ≥80%\n- Good Fit = 50–79%\n- Low Fit = <50%\n3. Provide matched_skills, experience_alignment, and a short summary justifying the rating. Keep everything concise and in plain text (comma-separated for skills)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        80,
        -384
      ],
      "id": "58b27a32-c5ff-49b7-80be-d25058bd2573",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -160
      ],
      "id": "74cc2758-62be-4dd3-ba8c-49dc1d20dec1",
      "name": "AI Model",
      "credentials": {
        "openAiApi": {
          "id": "FOc9yl5RrfuI1Nil",
          "name": "OpenAI Model Jenmar"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Trigger Checker').item.json.triggerType }}",
                    "rightValue": "sub-workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff923e9e-082a-41ac-ac0f-f4ec3b0a8b4a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c7fe939e-ac51-4e1c-b2cd-bfa3d5d99576",
                    "leftValue": "={{ $('Trigger Checker').item.json.triggerType }}",
                    "rightValue": "webhook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dbc6323e-5f6f-41a9-a6b1-3edc80283bf6",
                    "leftValue": "={{ $('Trigger Checker').item.json.triggerType }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        -96
      ],
      "id": "02717cdb-e607-45aa-b00b-a7f9f4a6cba2",
      "name": "Response Segregation"
    },
    {
      "parameters": {
        "message": "={{ $json.isValid ? \"Here we go! Here’s my analysis: \\n\\nSuitability: \" + $json.response.suitability + \"\\n\\nMatched Skills: \" + $json.response.matched_skills + \"\\n\\nExperience Alignment: \" + $json.response.experience_alignment + \"\\n\\nSummary: \" + $json.response.summary : $json.response }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        864,
        64
      ],
      "id": "7426f6a7-6f07-4f62-ad3d-d5b3ffa637be",
      "name": "Chat Response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Qqr9UIpGPXBv9Rk3",
          "mode": "list",
          "cachedResultName": "OCR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -608,
        -192
      ],
      "id": "15746b6e-0a6d-4a21-97a7-2dc1d0c545cb",
      "name": "OCR"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"suitability\": {\n      \"type\": \"string\",\n      \"description\": \"Suitability rating. One of: Low Fit, Good Fit, Strong Fit. If invalid CV or missing Job Title or Skills, return 'Can't be Determined'.\"\n    },\n    \"matched_skills\": {\n      \"type\": \"string\",\n      \"description\": \"Matched hard skills as a comma-separated string.\"\n    },\n    \"experience_alignment\": {\n      \"type\": \"string\",\n      \"description\": \"Short text on years of experience vs. job requirement.\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"One or two sentences justifying the suitability rating, highlighting main matches and gaps. If invalid CV or missing Job Title or Skills, explain why it can't be determined.\"\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        -160
      ],
      "id": "b29a7954-c680-4d44-9e5d-3b47e746c3d3",
      "name": "Output Parser"
    },
    {
      "parameters": {
        "jsCode": "let response = \"\"\nconst aiOutput = $input.first().json.output;\nconst hasAiOutput = Boolean(aiOutput);\n\nif(hasAiOutput) {\n  response = aiOutput;\n} else {\n   response = \"Oops! I’ll need a valid file to proceed. Make sure it’s a PDF, PNG, JPG, or JPEG, not password protected, and does not exceed 2 MB 👌\";\n}\n\nreturn [\n  {\n    json: {\n      isValid: hasAiOutput,\n      response\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -80
      ],
      "id": "d2213593-21c8-4317-a957-7773c285c8b1",
      "name": "Response Formatter"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": {{ !$json.isValid }},\n  \"data\": {{ JSON.stringify($json.response) }}\n}",
        "options": {
          "responseCode": "={{ $('Response Formatter').item.json.isValid ? 200 : 415 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        -80
      ],
      "id": "df2b375e-f883-4c73-947c-7ef706d3ec58",
      "name": "Webhook Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "28d2ff52-fbdb-4b3b-888a-2776bef65a10",
              "leftValue": "={{\n  (() => {\n    const sizeStr = $binary.data0.fileSize.toLowerCase().trim();\n    const num = parseFloat(sizeStr);\n\n    if (sizeStr.includes(\"mb\")) {\n      return num * 1024 * 1024;\n    } else if (sizeStr.includes(\"kb\")) {\n      return num * 1024;\n    } else if (sizeStr.includes(\"byte\")) {\n      return num;\n    } else {\n      return num;\n    }\n  })()\n}}",
              "rightValue": 2097152,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "f1f1fecd-aad1-4e3f-80a3-e1feb0b3f515",
              "leftValue": "={{ [\"pdf\", \"jpg\", \"png\", \"jpeg\"] }}",
              "rightValue": "={{ $binary.data0.fileExtension}}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        -96
      ],
      "id": "136b3612-2b5c-4475-a745-ec0e801ccbc6",
      "name": "File Validation",
      "notesInFlow": true,
      "alwaysOutputData": false,
      "notes": "Max of 2 MB"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    output: $('AI Agent').first().json.output\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -224
      ],
      "id": "b70db965-5e09-422d-9a4a-25d14155b140",
      "name": "Sub-workflow Response"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "details"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        -240
      ],
      "id": "afdff709-a0ed-4afd-918d-58d4bf1514b2",
      "name": "Sub-workflow"
    },
    {
      "parameters": {
        "jsCode": "let triggerType = 'unknown';\n\ntry {\n  const webhookData = $('Webhook').first().json;\n  if (webhookData.body) {\n    triggerType = 'webhook';\n  }\n} catch (e) {\n  console.log(\"Webhook node not executed in this run\");\n}\n\ntry {\n  const chatData = $('Chat').first().json;\n  if (chatData.chatInput) {\n    triggerType = 'chat';\n  }\n} catch (e) {\n  console.log(\"Chat node not executed in this run\");\n}\n\ntry {\n  const subWorkflowData = $('Sub-workflow').first().json;\n  if (subWorkflowData.details) {\n    triggerType = 'sub-workflow';\n  }\n} catch (e) {\n  console.log(\"Sub-workflow node not executed in this run\");\n}\n\nreturn [\n  {\n    json: {\n      triggerType\n    },\n    binary: $input.first().binary\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        -96
      ],
      "id": "df155e31-b681-4eb0-b459-86eb47999297",
      "name": "Trigger Checker"
    },
    {
      "parameters": {
        "jsCode": "let output = \"\";\n\ntry {\n  const pdf = $('PDF to Text Converter').first().json;\n  if (pdf) {\n    output = pdf.text;\n  }\n} catch (e) {\n  console.log(\"PDF to Text node not executed in this run\");\n}\n\ntry {\n  const image = $('OCR').first().json;\n  if (image) {\n    output = image.output;\n  }\n} catch (e) {\n  console.log(\"OCR node not executed in this run\");\n}\n\nreturn [\n  {\n    json: {\n      output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -384
      ],
      "id": "bab904d5-da2e-4fa4-b46a-211ca5b4afc6",
      "name": "File Output Formatter"
    },
    {
      "parameters": {
        "jsCode": "let output = null;\n\nif ($('Trigger Checker').first().json.triggerType === 'webhook') {\n  const body = $('Webhook').first().json.body;\n  output = `Job Title: ${body.job_title}\\nSkills: ${body.skills}`;\n}\n\nif ($('Trigger Checker').first().json.triggerType === 'chat') {\n  output = $('Chat').first().json.chatInput;\n}\n\nif ($('Trigger Checker').first().json.triggerType === 'sub-workflow') {\n  output = $('Sub-workflow').first().json.details\n}\n\nreturn [\n  {\n    json: {\n      output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -384
      ],
      "id": "f67e95ff-bce5-44ae-b90b-c24411ef5b9a",
      "name": "Prompt Formatter"
    }
  ],
  "pinData": {},
  "connections": {
    "PDF to Text Converter": {
      "main": [
        [
          {
            "node": "File Output Formatter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Segregation": {
      "main": [
        [
          {
            "node": "PDF to Text Converter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Trigger Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trigger Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Response Segregation": {
      "main": [
        [
          {
            "node": "Sub-workflow Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR": {
      "main": [
        [
          {
            "node": "File Output Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Response Formatter": {
      "main": [
        [
          {
            "node": "Response Segregation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Validation": {
      "main": [
        [
          {
            "node": "File Type Segregation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub-workflow": {
      "main": [
        [
          {
            "node": "Trigger Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Checker": {
      "main": [
        [
          {
            "node": "File Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Output Formatter": {
      "main": [
        [
          {
            "node": "Prompt Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Formatter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2e7978f-1378-41c9-927c-8e90e2309103",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b89e421e3d3b00234a3a71d58f20af9ccd29ab9dbca3f763c07354ccbdcd4121"
  },
  "id": "3X2PjiTm0BCsdhum",
  "tags": []
}