candidate-assessment/workflow.json
{
  "name": "Candidate Assessment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "91f26f26-bde3-4f76-b721-25402ad63af0",
        "responseMode": "streaming",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1552,
        432
      ],
      "id": "ac975028-eeea-45bb-8713-04cca08c54b5",
      "name": "Webhook",
      "webhookId": "91f26f26-bde3-4f76-b721-25402ad63af0"
    },
    {
      "parameters": {
        "jsCode": "// Get webhook payload\nconst body = items[0].json.body || {};\nconst binaries = items[0].binary || {};\nconst fileKeys = Object.keys(binaries);\n\n// Helper: Detect file type based on extension or MIME\nconst detectFileType = (file) => {\n  const name = file.fileName?.toLowerCase() || \"\";\n  const mime = file.mimeType?.toLowerCase() || \"\";\n\n  if (mime.includes(\"pdf\") || name.endsWith(\".pdf\")) return \"pdf\";\n  if (mime.includes(\"png\") || name.endsWith(\".png\")) return \"png\";\n  if (mime.includes(\"jpeg\") || name.endsWith(\".jpeg\") || name.endsWith(\".jpg\")) return \"jpeg\";\n  if (mime.includes(\"word\") || name.endsWith(\".docx\")) return \"docx\";\n  if (mime.includes(\"plain\") || name.endsWith(\".txt\")) return \"txt\";\n  if (mime.includes(\"spreadsheetml\") || name.endsWith(\".xls\") || name.endsWith(\".xlsx\")) return \"excel\";\n\n  return \"unknown\";\n};\n\n// Map all binaries with detected types\nconst files = fileKeys.map(k => ({\n  key: k,\n  ...binaries[k],\n  detectedType: detectFileType(binaries[k]),\n}));\n\n// Locate resume and interview files (if present)\nconst resumeFile = files.find(f => [\"pdf\", \"png\", \"docx\", \"jpeg\"].includes(f.detectedType));\nconst interviewFile = files.find(f => [\"txt\", \"excel\"].includes(f.detectedType));\n\n// Detect if plain text values were sent instead of files\nconst resumeText = body.resume || body.resume_text || null;\nconst interviewText = body.interview || body.interview_text || null;\n\n// Validation\nif (!resumeFile && !resumeText) {\n  throw new Error(\"❌ Missing or invalid resume. Provide either a file (.pdf, .jpeg, .png, .docx) or a plain text string.\");\n}\nif (!interviewFile && !interviewText) {\n  throw new Error(\"❌ Missing or invalid interview. Provide either a file (.txt, .xls, .xlsx) or a plain text string.\");\n}\n\n// Build unified binary + text output\nconst binaryOutput = {};\nif (resumeFile) {\n  binaryOutput.resume_file = {\n    ...resumeFile,\n    fileName: resumeFile.fileName || `resume.${resumeFile.detectedType}`,\n  };\n}\nif (interviewFile) {\n  binaryOutput.interview_file = {\n    ...interviewFile,\n    fileName: interviewFile.fileName || `interview.${interviewFile.detectedType}`,\n  };\n}\n\n// Final structured output\nreturn [\n  {\n    json: {\n      jobTitle: body.job_title || null,\n      skillsRequired: body.skills_required || null,\n      backgroundSurveyData: JSON.parse(body.background_survey_data || \"{}\"),\n      webhookUrl: items[0].json.webhookUrl,\n      columns: body.columns,\n      timestamp: new Date().toISOString(),\n      resumeText,\n      interviewText,\n      validation: {\n        status: \"success\",\n        message: \"✅ Files/text validated successfully\",\n        detectedFormats: {\n          resume: resumeFile ? resumeFile.detectedType : \"text\",\n          interview: interviewFile ? interviewFile.detectedType : \"text\",\n        },\n      },\n    },\n    binary: binaryOutput,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        432
      ],
      "id": "cdc3f20c-2ce2-442a-8247-a675d1bd0c06",
      "name": "Validate Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53c9976c-15dc-4ca3-9e9f-bfb16605b832",
              "name": "jobTitle",
              "value": "={{ $json.jobTitle }}",
              "type": "string"
            },
            {
              "id": "440dbc5b-6dec-4ce7-9eb9-89f5604a9cae",
              "name": "skillsRequired",
              "value": "={{ $json.skillsRequired }}",
              "type": "string"
            },
            {
              "id": "ce562cee-c06e-48f5-b410-fd6885efe597",
              "name": "backgroundSurveyData",
              "value": "={{ $json.backgroundSurveyData }}",
              "type": "object"
            },
            {
              "id": "a8bccf32-2eeb-4ea8-837c-b054545f23ff",
              "name": "columns",
              "value": "={{ $json.columns }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        64
      ],
      "id": "7bf367cd-48d7-4f31-8e8d-6f37131b93ac",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume_file",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -256,
        -704
      ],
      "id": "b3b78e3c-973b-4790-abcd-12a765c72e8f",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ \n  $binary.resume_file.mimeType === 'application/pdf'\n    ? 0\n    : $binary.resume_file.mimeType.startsWith('image/')\n      ? 1\n      : $binary.resume_file.mimeType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'\n        ? 2\n        : 3\n}}\n"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -784,
        -336
      ],
      "id": "cfd8431c-6db1-4fef-9a87-c54405c3bc42",
      "name": "Identify resume extension"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{\n  $binary?.interview_file?.mimeType === 'text/plain'\n    ? 0\n    : $binary?.interview_file?.mimeType?.startsWith('application/pdf')\n      ? 1\n      : 2\n}}\n"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -784,
        416
      ],
      "id": "1447f188-4d5c-429d-a5c5-dc069a98ed98",
      "name": "Identify interview extension"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        -128
      ],
      "id": "39fdcfda-6d05-4eac-9910-4c8ec7eab330",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "text": "={{ $json.text ?? $json.content ?? $json.data}}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"full_name\": \"Candidate's full name (if found)\",\n  \"current_title\": \"Current or most recent job title\",\n  \"years_of_experience\": \"Total years of professional experience (approximate)\",\n  \"experience_list\": [\n    {\n      \"company_name\": \"Company name\",\n      \"role_title\": \"Job title or position\",\n      \"duration\": \"e.g. Jan 2020 - Present or 2 years\",\n      \"description\": \"Brief summary of responsibilities or achievements\"\n    }\n  ],\n  \"key_skills\": [\"skill1\", \"skill2\", \"skill3\"],\n  \"education\": \"Highest degree or relevant certifications\",\n  \"summary\": \"Short 1–2 sentence summary of the candidate’s professional background relevant to the role\"\n}",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        16,
        -256
      ],
      "id": "e91d7500-0c3d-4ee4-9cb1-b404a451fd2a",
      "name": "Important details"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Extract all visible text content from this image accurately.  \n- Do not summarize or paraphrase.  \n- Preserve the exact text as it appears, including section titles, bullet points, line breaks, and spacing.  \n- Include headers like \"PROFESSIONAL SUMMARY\", \"SKILLS\", and \"EXPERIENCE\".  \n- Do not omit any small or side text such as contact info, links, or location details.  \n- Output the full plain text exactly as seen on the image.\n",
        "inputType": "base64",
        "binaryPropertyName": "resume_file",
        "options": {
          "detail": "high",
          "maxTokens": 3000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -256,
        -336
      ],
      "id": "decf99cf-1ee6-4c42-9b94-c16f4e310079",
      "name": "Extract text from image",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following interview transcript and background data.\n\n📄 Interview Transcript:\n```{{ $json.data ?? $json.interviewText}}```\n\n🧠 Job Role:\n```{{ \n  ( $('Validate Files').isExecuted ? $('Validate Files').item.json?.jobTitle : null ) \n  || ( $('Validate Chat').isExecuted ? $('Validate Chat').item.json?.jobTitle : null )\n  || 'Not provided'\n}}```\n\n💡 Required Skills:\n```{{ \n  ( $('Validate Files').isExecuted ? $('Validate Files').item.json?.skillsRequired : null ) \n  || ( $('Validate Chat').isExecuted ? $('Validate Chat').item.json?.skillsRequired : null )\n  || 'Not provided'\n}}```\n\n📊 Background Survey Data:\n```{{ \n  ($('Validate Files').isExecuted ? JSON.stringify($('Validate Files').item.json?.backgroundSurveyData, null, 2) : null) \n  || ($('Validate Chat').isExecuted ? JSON.stringify($('Validate Chat').item.json?.backgroundSurveyData, null, 2) : null)\n  || 'Not provided'\n}}```\n\nPlease provide a 2–4 paragraph summary describing:\n\n- The candidate’s communication and confidence.\n- Technical or job-related understanding.\n- Attitude, enthusiasm, and personality.\n- Previous Salary,  expected salary and benifits\n- Current location\n- Overall impression and recommendation (e.g., “Strong candidate,” “Needs improvement,” or “Not recommended”).\n\nKeep it natural and descriptive — do not output JSON or bullet points.\n",
        "options": {
          "systemMessage": "=You are an HR Evaluation Assistant specializing in analyzing interview transcripts. \nYour role is to summarize how the candidate performed in the interview — focusing on communication, confidence, technical understanding, and overall attitude. \nWrite in a professional but concise tone suitable for an HR report.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        512
      ],
      "id": "6831a817-df93-456e-a719-00ab3fe3b2e8",
      "name": "Summarize Interview"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        672
      ],
      "id": "dc622a49-64a8-4c73-8232-d22aae18fac2",
      "name": "resume",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccacb302-0dcc-4f07-826d-747aa50c1d91",
              "name": "interview_summary",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        352
      ],
      "id": "35b78498-2717-4d10-bedf-d82720cd29fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        48
      ],
      "id": "1a9f476a-9dc7-4de2-b163-0d8541343a17",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "interview_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -464,
        272
      ],
      "id": "ca145275-bc9c-4cb4-942f-b4a32ee96cfd",
      "name": "Extract interview file"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17F0ZbCM-s-YpmCHJtJCUw9ZKxdulr9TOPyy9oR44dgs",
          "mode": "list",
          "cachedResultName": "Candidate Assessment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17F0ZbCM-s-YpmCHJtJCUw9ZKxdulr9TOPyy9oR44dgs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17F0ZbCM-s-YpmCHJtJCUw9ZKxdulr9TOPyy9oR44dgs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Name": "={{ $json.output.full_name }}",
            "Job Title": "={{ $json.output.role_or_job_title }}",
            "Experience": "={{ $json.output.experience_related_to_role }}",
            "Last Salary": "={{ $json.output.last_salary }}",
            "Location": "={{ $json.output.location }}",
            "Interview Summary": "={{ $json.output.interview_summary }}",
            "Rank": "={{ $json.output.rank}}",
            "Summary": "={{ $json.output.summary}}"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Salary",
              "displayName": "Last Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expected Salary",
              "displayName": "Expected Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interview Summary",
              "displayName": "Interview Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Technical background",
              "displayName": "Technical background",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        64
      ],
      "id": "57ae41b3-e835-4a3f-b11a-e31ed56a6f09",
      "name": "Append row in sheet",
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        288
      ],
      "id": "64b1436e-275a-42cb-80b0-a01b4bea46ef",
      "name": "OpenAI Chat Model1",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "interview_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -464,
        432
      ],
      "id": "2f5aa088-dee4-48a7-abcc-afbcd9345a9d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2953847-e9bf-4240-a66a-0e93cd37215d",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        64
      ],
      "id": "9087c542-7889-4709-ba9b-db5b4326fbf5",
      "name": "Decode output"
    },
    {
      "parameters": {
        "jsCode": "// Get the original item\nconst item = items[0].json;\n\n// Helper: remove underscores and capitalize words with spaces\nfunction formatKeys(obj) {\n  const newObj = {};\n  for (const [key, value] of Object.entries(obj)) {\n    // Replace underscores with spaces and capitalize each word\n    const newKey = key\n      .split('_')\n      .map(word => word.charAt(0).toUpperCase() + word.slice(1))\n      .join(' ');\n    newObj[newKey] = value;\n  }\n  return newObj;\n}\n\n// If the JSON has an \"output\" property, flatten and format keys\nif (item.output && typeof item.output === 'object') {\n  return [{ json: formatKeys(item.output) }];\n}\n\n// Otherwise, format keys of the current item\nreturn [{ json: formatKeys(item) }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        64
      ],
      "id": "6146a79e-fd3a-435c-b00d-24bb28cd8300",
      "name": "Arrange Keys and values"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{spreadsheetid}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"sortRange\": {\n        \"range\": {\n          \"sheetId\": 0,\n          \"startRowIndex\": 0,\n          \"endRowIndex\": 100000,\n          \"startColumnIndex\": 0,\n          \"endColumnIndex\": 26\n        },\n        \"sortSpecs\": [\n          {\n            \"dimensionIndex\": 8,\n            \"sortOrder\": \"DESCENDING\"\n          }\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        64
      ],
      "id": "fa3e6296-c3c9-44b3-81aa-3408b873459c",
      "name": "Sort sheet by rank",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1232,
        -944
      ],
      "id": "9894bb0c-794a-4ac8-a53c-7d932e3df570",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "your@emailhere.com",
        "subject": "Error: Candidate Assessment",
        "message": "=💥 n8n Workflow Error Notification\n\nHey Team,\nSomething went wrong during one of our workflow executions.\nHere are the details:\n🔹 Workflow: {{ $json[\"workflow\"][\"name\"] }} \n🔹 Workflow ID: {{ $json[\"workflow\"][\"id\"] }} \n🔹 Node: {{ $json[\"node\"][\"name\"] }} \n🔹 Execution ID: {{ $json[\"execution\"][\"id\"] }} \n🔹 Timestamp: {{ $json[\"execution\"][\"timestamp\"] }} \n🔹 Error: {{ $json[\"execution\"][\"error\"] }}\n\nStay sharp, n8n Monitoring Bot 🤖",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1008,
        -944
      ],
      "id": "4b11e053-1649-43a6-8a58-feccba1149b5",
      "name": "Send a message",
      "webhookId": "75bf68b5-d011-41c1-8a3f-0e74976fbe04",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following candidate data and produce a structured summary.\n\n📄 Resume Data:\n{{ JSON.stringify($json.output, null, 2) }}\n\n💬 Interview Summary:\n{{ $json.interview_summary }}\n\n📊 Background Survey Data:\n{{ JSON.stringify($json.backgroundSurveyData, null, 2) }}\n\n🎯 Job Role:\n{{ $json.jobTitle }}\n\n💡 Required Skills:\n{{ $json.skillsRequired }}\n\n\nPlease output in **JSON format** with the following structure:\n\n{\n  \"Name\": \"\",\n  \"Job Title\": \"\",\n  \"Summary\": \"\",\n  \"Experience\": \"\",\n  \"Last Salary\": \"\",\n  \"Expected Salary\": \"\",\n  \"Location\": \"\",\n  \"Interview Summary\": \"\",\n  \"Rank\": \"\",\n  {{ $json.columns\n    ? $json.columns\n        .split(',')\n        .map(col => `\"${col.trim()}\": \"\"`)\n        .join(',\\n  ')\n    : '' }}\n}\n\nGuidelines:\n  - Extract factual data directly from the resume, survey, and interview text.\n  - Do not infer or assume missing details.\n  - “Summary” should provide a factual 2–3 sentence overview of the candidate’s background.\n  - “Experience related to role” must focus on actual overlap with the listed job role and required skills.\n  - “Rank” must be a numeric percentage (0–100) based on skill/role alignment accuracy.",
        "options": {
          "systemMessage": "=You are AI Candidate Evaluation Assistant, a highly disciplined and factual analysis system.\nYour function is to extract, consolidate, and rank candidate information from provided data sources.\n\nFollow these strict rules:\n1. No assumptions or opinions. Only use information explicitly found in the provided text.\n2. Be objective, analytical, and concise. Avoid descriptive or conversational tone.\n3. Leave missing or unclear values as empty strings (\"\"). Do not guess.\n4. Always output valid JSON — no text, comments, or markdown.\n5. Ranking logic (0–100%):\n - Evaluate fit between candidate information and the job’s required skills and role.\n - Factors influencing rank:\n    - Skill & experience relevance (70%)\n    - Communication & interview alignment (20%)\n    - Other context match (location, salary expectations, etc.) (10%)\n - Output a percentage number (no symbols) from 0–100.\n - Assign a rank (0–100%) representing fit:\n    - 0–39% → Poor match\n    - 40–69% → Moderate match\n    - 70–100% → Strong match\n - Use proportional reasoning — higher match in technical and experiential overlap increases the rank.\n\n6. The summary field must be a 2–3 sentence factual overview describing who the candidate is and their core experience/strengths.\n7. Experience related to role must be based on direct overlap with the target job requirements.\n8. Interview summary must be 2–3 factual sentences summarizing performance or insights.\n\nIf additional columns are provided in the JSON structure (e.g., “technical_background”, “managerial_exp”), treat them as custom evaluation fields and fill them using relevant information from the candidate’s data.\nLeave blank if not applicable.\n\nYou are not a friendly assistant. You are a strict, formal evaluator."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        64
      ],
      "id": "62ca4958-7589-4edd-a503-002fc007e455",
      "name": "Analyze Applicant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gotenberg-eqfndwh9h3dwc5hy.westus-01.azurewebsites.net/forms/libreoffice/convert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "resume_file"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "resume_file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        -544
      ],
      "id": "b42fb7b8-2f27-4ee1-be4b-ece75e13c405",
      "name": "Gotenberg - DOCX to PDF",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## Process Resume\n",
        "height": 752,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -752
      ],
      "typeVersion": 1,
      "id": "657a4d0d-80c5-4319-a449-f277e1210063",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Process Interview\n",
        "height": 624,
        "width": 1296,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        224
      ],
      "typeVersion": 1,
      "id": "6efd297f-2aa7-4e10-909e-cc3e6d32a4ca",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "allowFileUploads": true,
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1520,
        -304
      ],
      "id": "385342bc-ce0e-46bb-9d4d-2270b552a7eb",
      "name": "When chat message received",
      "webhookId": "31a61ee8-84a7-420e-8323-31ad90b0024d"
    },
    {
      "parameters": {
        "message": "=✅ Thank you for submitting your details!\n\nWe’ve successfully received your application for the **{{ $json.jobTitle }}** role.\n\nHere’s a quick summary of what was captured:\n- Skills Required: {{ $json.skillsRequired }}\n- Additional Columns: {{ $json.columns }}\n- Survey Data: {{ JSON.stringify($json.backgroundSurveyData) }}\n- Resume Format: {{ $json.validation.detectedFormats.resume }}\n- Interview Format: {{ $json.validation.detectedFormats.interview }}\n\nYour data has been validated and is now being processed for analysis.  \nWe’ll notify you once the structured candidate summary and ranking are ready.\n",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1024,
        -464
      ],
      "id": "cc57dfab-7f80-4968-8c9b-e64c6a60b61f",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "jsCode": "// Get chat payload\nconst payload = items[0].json || {};\nconst body = payload.body || {};\n\nconst binaries = items[0].binary || {};\nconst fileKeys = Object.keys(binaries);\n\n// Helper: Detect file type\nconst detectFileType = (file) => {\n  const name = file.fileName?.toLowerCase() || \"\";\n  const mime = file.mimeType?.toLowerCase() || \"\";\n\n  if (mime.includes(\"pdf\") || name.endsWith(\".pdf\")) return \"pdf\";\n  if (mime.includes(\"png\") || name.endsWith(\".png\")) return \"png\";\n  if (mime.includes(\"jpeg\") || name.endsWith(\".jpeg\") || name.endsWith(\".jpg\")) return \"jpeg\";\n  if (mime.includes(\"word\") || name.endsWith(\".docx\")) return \"docx\";\n  if (mime.includes(\"plain\") || name.endsWith(\".txt\")) return \"txt\";\n  if (mime.includes(\"spreadsheetml\") || name.endsWith(\".xls\") || name.endsWith(\".xlsx\")) return \"excel\";\n\n  return \"unknown\";\n};\n\n// Map all binaries with detected types\nconst files = fileKeys.map(k => ({\n  key: k,\n  ...binaries[k],\n  detectedType: detectFileType(binaries[k]),\n}));\n\n// Locate resume and interview files (if present)\nconst resumeFile = files.find(f => [\"pdf\", \"png\", \"docx\", \"jpeg\"].includes(f.detectedType));\nconst interviewFile = files.find(f => [\"txt\", \"excel\"].includes(f.detectedType));\n\n// Handle text-based resumes/interviews (when no file uploaded)\nconst resumeText = payload.resumeText || null;\nconst interviewText = payload.interviewText || null;\n\n// Validation logic\nif (!resumeFile && !resumeText) {\n  throw new Error(\"❌ Missing resume. Upload a file or provide text for resumeText.\");\n}\nif (!interviewFile && !interviewText) {\n  throw new Error(\"❌ Missing interview. Upload a file or provide text for interviewText.\");\n}\n\n// Build unified binary + text output\nconst binaryOutput = {};\nif (resumeFile) {\n  binaryOutput.resume_file = {\n    ...resumeFile,\n    fileName: resumeFile.fileName || `resume.${resumeFile.detectedType}`,\n  };\n}\nif (interviewFile) {\n  binaryOutput.interview_file = {\n    ...interviewFile,\n    fileName: interviewFile.fileName || `interview.${interviewFile.detectedType}`,\n  };\n}\n\n// Output structure\nreturn [\n  {\n    json: {\n      jobTitle: body.job_title || \"AI Developer\",\n      skillsRequired: body.skills_required || \"Javascript, N8N, Make.com, Rest APIs\",\n      backgroundSurveyData: JSON.parse(body.background_survey_data || '{\"communication_score\":8,\"teamwork_score\":9,\"leadership_score\":7}'),\n      webhookUrl: payload.webhookUrl || \"https://n8n.nmscreative.com/webhook-test/91f26f26-bde3-4f76-b721-25402ad63af0\",\n      columns: body.columns || \"technical background, skills, language\",\n      timestamp: new Date().toISOString(),\n      resumeText: resumeText,\n      interviewText: interviewText,\n      validation: {\n        status: \"success\",\n        message: \"✅ Files/text validated successfully\",\n        detectedFormats: {\n          resume: resumeFile ? resumeFile.detectedType : (resumeText ? \"text\" : \"none\"),\n          interview: interviewFile ? interviewFile.detectedType : (interviewText ? \"text\" : \"none\"),\n        },\n      },\n    },\n     binary: binaryOutput,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -304
      ],
      "id": "234b153a-6435-488c-9320-d33a0a35d30f",
      "name": "Validate Chat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "82aaf203-4319-4f8d-8f5e-737f05c6df12",
              "leftValue": "={{ $('When chat message received').item.json.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1824,
        64
      ],
      "id": "de25f70a-9536-4d9f-99f7-b59d80c4f3e1",
      "name": "If"
    },
    {
      "parameters": {
        "message": "=✅ The interview analysis has been successfully completed and added to the Google Sheet.\n\nIf you have more interviews to analyze, just upload the next file. 🔁\n",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2144,
        -128
      ],
      "id": "6f56cb14-fa0a-44eb-af72-d7f4c3a78d43",
      "name": "Respond to Chat - done"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Files": {
      "main": [
        [
          {
            "node": "Identify resume extension",
            "type": "main",
            "index": 0
          },
          {
            "node": "Identify interview extension",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Important details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify resume extension": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text from image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gotenberg - DOCX to PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Important details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Important details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from image": {
      "main": [
        [
          {
            "node": "Important details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Interview": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resume": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Interview",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract interview file": {
      "main": [
        [
          {
            "node": "Summarize Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify interview extension": {
      "main": [
        [
          {
            "node": "Extract interview file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Important details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Applicant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Analyze Applicant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Summarize Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode output": {
      "main": [
        [
          {
            "node": "Arrange Keys and values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arrange Keys and values": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Sort sheet by rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Applicant": {
      "main": [
        [
          {
            "node": "Decode output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg - DOCX to PDF": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Validate Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Chat": {
      "main": [
        [
          {
            "node": "Identify resume extension",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Identify interview extension",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort sheet by rank": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Chat - done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "U9jscEEGCnporZAI"
  },
  "versionId": "8744977d-ad60-4541-9544-f97e1551589a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b89e421e3d3b00234a3a71d58f20af9ccd29ab9dbca3f763c07354ccbdcd4121"
  },
  "id": "U9jscEEGCnporZAI",
  "tags": []
}