ai-social-bots/LinkedIn - AI/workflow.json
{
  "name": "LinkedIn - Ai",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram LinkedIn bot').first().json.message.from.id }}",
        "text": "={{ $json.output.json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        224
      ],
      "id": "f9bead3c-f9bc-4026-af31-994c2cd8544e",
      "name": "Send a text message",
      "webhookId": "a5c5dd13-d98d-4e1a-b3c2-cc950efce029",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        416
      ],
      "id": "c70f2dad-4923-40e4-9de5-d999bcf1e456",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kIf8f9beW222JuhO",
          "name": "googel nms account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8684d2b8-3ea4-4a1d-b1c0-7ad96d00fdd2",
              "name": "Content context",
              "value": "={{ $('Telegram LinkedIn bot').item.json.message.text }}",
              "type": "string"
            },
            {
              "id": "4dbd92f9-0621-4732-af61-0dec283df06e",
              "name": "chatID",
              "value": "={{ $json.result.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        224
      ],
      "id": "9733aa4f-91e1-4220-b12a-ca52d130bbf4",
      "name": "Format Data"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-preview-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-preview-image-generation"
        },
        "prompt": "={{ $json.output.json.promptImage }}",
        "options": {
          "sampleCount": "=1",
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        224
      ],
      "id": "e9caf8d6-8ec6-432c-9ed5-f93614cb0af3",
      "name": "Generate an image",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "kIf8f9beW222JuhO",
          "name": "googel nms account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"json\":{\n      \"response\":\"\",\n      \"UserwantsToCreatePost\":\"\"\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        432
      ],
      "id": "1e27cbb6-ff0d-4630-b39e-a93eaedb26ff",
      "name": "Structured Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant specialized in creating content for LinkedIn.\n\nAnalyze the user's message below:\n\n\"{{ $json.message.text }}\"\n\nDetermine the intent of the message.\n\nIf the user is requesting you to **generate a LinkedIn post, caption, content idea, or prompt**, respond with:\n\n{\n  \"Response\": \"Please wait for a 2-3 minutes {{ $json.message.chat.first_name }}, I will generate your [contentType] shortly...\",\n  \"UserwantsToCreatePost\": true\n}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        240
      ],
      "id": "a79b6bcb-f969-4597-9067-301a00d889fe",
      "name": "AI Agent Inquiry messages"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram LinkedIn bot').first().json.message.from.id }}",
        "text": "={{ $json.output.json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        416
      ],
      "id": "7e845b87-838d-447d-b3dd-cffb9b32d3a2",
      "name": "Send a reply",
      "webhookId": "a5c5dd13-d98d-4e1a-b3c2-cc950efce029",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        432
      ],
      "id": "13998c78-2bda-422b-9c70-9e43eacaa300",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "kIf8f9beW222JuhO",
          "name": "googel nms account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f67a42b6-bc32-4746-b68d-864ffedf40ea",
              "leftValue": "={{ $json[\"output\"][\"json\"][\"UserwantsToCreatePost\"].toLowerCase() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        240
      ],
      "id": "f7b81444-c23b-431b-9617-20a2dc28d167",
      "name": "Does the user want to post?"
    },
    {
      "parameters": {
        "person": "wg-655z4NW",
        "text": "={{ $('Format data').item.json.caption }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1296,
        -528
      ],
      "id": "178c74aa-26e9-4e25-9e7a-c2e25d20e8cd",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "IQ6MZqklKw1aUXRC",
          "name": "LinkedIn [Gab]"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        -528
      ],
      "id": "c7ecb8bc-fd0d-47ff-ac2e-48cc2d1b563c",
      "name": "Get the image",
      "webhookId": "aec237f0-c763-4217-aa55-b28415cb2c99",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a LinkedIn Content Creator AI.\nYour goal is to help the user establish thought leadership, grow their professional network, and drive relevant traffic to their business or personal brand through high-quality LinkedIn content.\n\nInput\ntopic: \"{{ $('Format Data').isExecuted ? $json['Content context'] : $json.text }}\" (return this also)\nchatid: \"{{ $('Format Data').isExecuted ? $json.chatID : $json.chatid }}\"\n\nTask Instructions\n\nStep 1: TREND RESEARCH (MANDATORY)\n**ALWAYS use the \"Google_search_engine\" tool FIRST before generating any content.**\n**You MUST perform at least 4 searches with different keywords to gather comprehensive trend data.**\n\nHOW TO RESEARCH TRENDS:\n1. Call Google_search_engine with the user's topic + \"LinkedIn trends {{ new Date($today).toLocaleString(\"default\", { month: \"long\", year: \"numeric\" }) }}\"\n2. Search for professional insights: \"[topic] career development trends\"\n3. Search for thought leadership: \"[topic] leadership insights {{ new Date($today).toLocaleString(\"default\", { month: \"long\", year: \"numeric\" }) }}\"\n4. Search for engagement strategies: \"[topic] LinkedIn engagement professional\"\n5. Use Further_more_information (Wikipedia) tool if you need background context on the topic\n6. ANALYZE all search results to identify:\n   - Current professional trends related to Career Development, Remote Work, Leadership, or Productivity\n   - Thought leadership angles\n   - Professional conversations and insights\n   - Engagement patterns in professional content\n\n**CRITICAL:** Always perform multiple searches with varied keywords. Choose a trend that is both timely and aligned with the user's topic.\n\nStep 2: Content Generation\nBased on the identified trend, create the following:\n\nCaption (2–4 sentences):\n- Begin with a hook to draw attention\n- Add a value insight (actionable, strategic, or reflective)\n- End with an engagement question to prompt responses\n- Do NOT include hashtags in the caption\n\nHashtags (separate field):\n- Generate 2–4 relevant, professional hashtags (LinkedIn-style, lowercase, no emojis)\n- Focus on topics, roles, or communities (e.g., #leadership, #careerdevelopment, #remotework, #productivity, #futureofwork)\n\nImage Prompt (promptImage):\nCreate a CONCISE, vivid image description (2-3 sentences maximum) that incorporates NMS brand colors and style. \n\nREQUIRED ELEMENTS TO INCLUDE:\n✓ Vibrant red (#E52B2B) as dominant color\n✓ Warm orange (#FF6B35) as accent color\n✓ Clean white background\n✓ Human + AI collaboration theme\n✓ Modern, professional aesthetic\n✓ High contrast design\n\nDO NOT include the design guidelines themselves in your output - only create a brief, descriptive prompt that naturally incorporates these elements.\n\nExample of GOOD promptImage output:\n\"Modern LinkedIn image showing diverse professionals collaborating with AI-powered dashboards in a bright workspace. Vibrant red (#E52B2B) geometric shapes frame the scene with warm orange (#FF6B35) glowing from digital screens, all set against a clean white background. High-contrast, energetic composition emphasizing human-AI synergy.\"\n\nStep 3: Output Format\nRespond using this exact JSON structure:\n\n{\n  \"json\": {\n    \"promptImage\": \"<concise 2-3 sentence image description with NMS brand colors>\",\n    \"caption\": \"<your generated LinkedIn caption WITHOUT hashtags>\",\n    \"hashtags\": \"<space-separated hashtags: #hashtag1 #hashtag2 #hashtag3>\",\n    \"chatid\": \"{{ $('Format Data').isExecuted ? $json.chatID : $json.chatid }}\"\n  }\n}\n\n⚠️ Critical Reminders:\n- ALWAYS search Google at least 4 times with different keywords FIRST\n- READ all search results before creating content\n- Keep promptImage CONCISE (2-3 sentences max)\n- Separate caption and hashtags into different fields\n- Always use NMS red (#E52B2B) and orange (#FF6B35) colors\n- Base content on real, trending professional insights\n- Maintain professional, actionable LinkedIn tone",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1344,
        224
      ],
      "id": "798fcbbd-c143-4356-9f28-992f89996f5c",
      "name": "Content Creator Ai Linked in",
      "retryOnFail": true,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"json\":{\n    \"promptImage\": \"\",\n    \"caption\":\"\",\n    \"hashtags\":\"\",\n    \"chatid\":\"\",\n    \"topic\":\"\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1792,
        416
      ],
      "id": "c6744559-3072-4ad2-81c7-9203b71f5b94",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Format data').item.json.chatid }}",
        "messageId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Successfully posted to LinkedIn!",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "View Post",
                    "additionalFields": {
                      "url": "=https://www.linkedin.com/feed/update/{{ $json.urn }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        -528
      ],
      "id": "04bdd05a-c967-4ebb-9be9-eb432f85c954",
      "name": "Send the link",
      "webhookId": "f9eda536-3be4-4c3a-a11a-2ea9ac66e9a1",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54f2260e-ef89-4dda-8f35-161c8304250f",
              "name": "chatid",
              "value": "={{ $json.result.chat.id }}",
              "type": "string"
            },
            {
              "id": "01d7176a-c3ea-43af-ab07-769a7545a632",
              "name": "caption",
              "value": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.reply_to_message.caption }}",
              "type": "string"
            },
            {
              "id": "9fb4d824-d1f8-411a-a6dd-07893a5986aa",
              "name": "file_id",
              "value": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.reply_to_message.photo[3].file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -528
      ],
      "id": "3bb8cb14-d2da-4604-a2f0-05b129dc67fd",
      "name": "Format data"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.reply_to_message.chat.id }}",
        "text": "Would you like me to post this type of topics daily?🤗",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Yes",
                    "additionalFields": {
                      "callback_data": "yesDaily"
                    }
                  },
                  {
                    "text": "❌ No",
                    "additionalFields": {
                      "callback_data": "no"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.reply_to_message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        -528
      ],
      "id": "431c417c-ecd8-442d-8c00-b8e9581f9c49",
      "name": "Ask for daily posting",
      "webhookId": "beb849a6-aa53-485e-bb87-b8702377fd20",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oOfFGf-j03-10gQr7ixjl0SJjdFgvmOrp-djU0MslJM",
          "mode": "list",
          "cachedResultName": "Social Medias - Ai Agent (DAILY)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oOfFGf-j03-10gQr7ixjl0SJjdFgvmOrp-djU0MslJM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oOfFGf-j03-10gQr7ixjl0SJjdFgvmOrp-djU0MslJM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        720
      ],
      "id": "457ea9ea-dd17-4d0c-a9f4-d4d2c7474b6c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IzZFdKDy8iaOFYNG",
          "name": "Google Sheets [ Gabriel ]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        912
      ],
      "id": "99e72eb9-38fd-4d30-9950-64b62ea6e1dc",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "kIf8f9beW222JuhO",
          "name": "googel nms account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"json\":{\n    \"promptImage\": \"\",\n    \"caption\":\"\",\n    \"hashtags\":\"\",\n    \"numImages\":\"\",\n    \"chatid\":\"\",\n    \"topic\":\"\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        912
      ],
      "id": "ae2e2769-11b9-4fc2-906f-39b7eb335756",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a LinkedIn Content Creator AI.\nYour goal is to help the user establish thought leadership, grow their professional network, and drive relevant traffic to their business or personal brand through high-quality LinkedIn content.\n\nInput\ntopic: \"{{ $('Get row(s) in sheet').item.json['Topic / Prompt'] }}\" (return this also)\nchatid: \"{{ $('Get row(s) in sheet').item.json.ChatID }}\"\n\nTask Instructions\n\nStep 1: TREND RESEARCH (MANDATORY)\n**ALWAYS use the \"Google_search_engine\" tool FIRST before generating any content.**\n**You MUST perform at least 4 searches with different keywords to gather comprehensive trend data.**\n\nHOW TO RESEARCH TRENDS:\n1. Call Google_search_engine with the user's topic + \"LinkedIn trends {{ new Date($today).toLocaleString(\"default\", { month: \"long\", year: \"numeric\" }) }}\"\n2. Search for professional insights: \"[topic] career development trends\"\n3. Search for thought leadership: \"[topic] leadership insights {{ new Date($today).toLocaleString(\"default\", { month: \"long\", year: \"numeric\" }) }}\"\n4. Search for engagement strategies: \"[topic] LinkedIn engagement professional\"\n5. Use Further_more_information (Wikipedia) tool if you need background context on the topic\n6. ANALYZE all search results to identify:\n   - Current professional trends related to Career Development, Remote Work, Leadership, or Productivity\n   - Thought leadership angles\n   - Professional conversations and insights\n   - Engagement patterns in professional content\n\n**CRITICAL:** Always perform multiple searches with varied keywords. Choose a trend that is both timely and aligned with the user's topic.\n\nStep 2: Content Generation\nBased on the identified trend, create the following:\n\nCaption (2–4 sentences):\n- Begin with a hook to draw attention\n- Add a value insight (actionable, strategic, or reflective)\n- End with an engagement question to prompt responses\n- Do NOT include hashtags in the caption\n\nHashtags (separate field):\n- Generate 2–4 relevant, professional hashtags (LinkedIn-style, lowercase, no emojis)\n- Focus on topics, roles, or communities (e.g., #leadership, #careerdevelopment, #remotework, #productivity, #futureofwork)\n\nImage Prompt (promptImage):\nCreate a CONCISE, vivid image description (2-3 sentences maximum) that incorporates NMS brand colors and style. \n\nREQUIRED ELEMENTS TO INCLUDE:\n✓ Vibrant red (#E52B2B) as dominant color\n✓ Warm orange (#FF6B35) as accent color\n✓ Clean white background\n✓ Human + AI collaboration theme\n✓ Modern, professional aesthetic\n✓ High contrast design\n\nDO NOT include the design guidelines themselves in your output - only create a brief, descriptive prompt that naturally incorporates these elements.\n\nExample of GOOD promptImage output:\n\"Modern LinkedIn image showing diverse professionals collaborating with AI-powered dashboards in a bright workspace. Vibrant red (#E52B2B) geometric shapes frame the scene with warm orange (#FF6B35) glowing from digital screens, all set against a clean white background. High-contrast, energetic composition emphasizing human-AI synergy.\"\n\nStep 3: Output Format\nRespond using this exact JSON structure:\n\n{\n  \"json\": {\n    \"promptImage\": \"<concise 2-3 sentence image description with NMS brand colors>\",\n    \"caption\": \"<your generated LinkedIn caption WITHOUT hashtags>\",\n    \"hashtags\": \"<space-separated hashtags: #hashtag1 #hashtag2 #hashtag3>\",\n    \"numImages\": \"1\",\n    \"chatid\": \"{{ $('Get row(s) in sheet').item.json.ChatID }}\",\n    \"topic\": \"{{ $('Get row(s) in sheet').item.json['Topic / Prompt'] }}\"\n  }\n}\n\n⚠️ Critical Reminders:\n- ALWAYS search Google at least 4 times with different keywords FIRST\n- READ all search results before creating content\n- Keep promptImage CONCISE (2-3 sentences max)\n- Separate caption and hashtags into different fields\n- Always use NMS red (#E52B2B) and orange (#FF6B35) colors\n- Base content on real, trending professional insights\n- Maintain professional, actionable LinkedIn tone",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        720
      ],
      "id": "1618146e-bf5f-4d40-88da-5cb0e41a1a01",
      "name": "Content Creator Ai Linkedin (DAILY)",
      "retryOnFail": true,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "chatId": "={{ $json.ChatID }}",
        "text": "Time for your daily post! ⏰",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        720
      ],
      "id": "df6fc3db-bf68-4a03-aed7-6d53029459a3",
      "name": "Notify user for daily post",
      "webhookId": "b584b62d-ead0-433c-bfbd-40a17b5493d0",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Content Creator Ai Linkedin (DAILY)').item.json.output.json.chatid }}",
        "text": "=I’ve successfully posted your daily content. Check it out! 💡👇\n\nIf you’d like to change the daily content I’ve been posting, just type:\n\n“Create [your content desire]” and say “yes” to daily post to replace the current topic. ✅",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "View Post",
                    "additionalFields": {
                      "url": "=https://www.linkedin.com/feed/update/{{ $json.urn }}/"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        720
      ],
      "id": "e035cd93-17bf-473e-9b65-7ead7d5a2350",
      "name": "Re assure the user",
      "webhookId": "f9eda536-3be4-4c3a-a11a-2ea9ac66e9a1",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "content": "## Things to consider\n- Don't post after a post prompt has been made add like a delay when you post another again.\nOptimization: \n1. Add limit to the telegram bot like a post count per day ideally 10 posts only and the interval between posts (30 mins).\n2. Prevent user to post consecutively this can make the account to be flagged or blocked for spamming post requests.",
        "height": 176,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -560
      ],
      "typeVersion": 1,
      "id": "d0ca0a00-094f-4a22-b0ac-7fb92a9d8359",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## AI Content & Image Creation -> User approval\n- The AI generates caption, hashtags and image prompt for later use\n- Generates an image based on the image prompt\n- Formats the AI output to extract the Caption and Hashtags\n- Merges the Generated Image and the extracted Caption and Hashtags\n- Sends a preview of the content for approval\n- If approved, notify the user about posting and continue posting\n- If no, then notify the user for follow-up re-creation of the content",
        "height": 240,
        "width": 512,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -48
      ],
      "typeVersion": 1,
      "id": "08665ce1-f798-4d65-895b-0c12861a9e95",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Daily Trigger for new Content Generation\n- Check excel for topics.\n- Notify users for the daily posting\n- Generate new post depending on the topic",
        "height": 496,
        "width": 1056
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        576
      ],
      "typeVersion": 1,
      "id": "97f5fd1a-6a26-4f81-8c89-a61dcbd34cb8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Daily AI Image Creation\n- Generates an image based on the image prompt.\n- Merges the Generated Image and the contents.\n- Sends a preview of the content.",
        "height": 352,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        576
      ],
      "typeVersion": 1,
      "id": "08a6be36-ea0e-4b7a-8236-ae3077edfc43",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Posting new post \n- Formats the new post.\n- Get the image and uploads it on to Linkedin Container for Posting.\n- Creates a new post and return the link of the post to telegram to explore.\n",
        "height": 352,
        "width": 864,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        576
      ],
      "typeVersion": 1,
      "id": "d4664f11-d5e0-405e-bdb0-a47ebfb6ede0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -176
      ],
      "id": "48d3e68a-fbbd-4933-81b3-a9f69c5913bf",
      "name": "Answer Query a callback",
      "webhookId": "b6eae5c5-beac-452d-a8f0-d07899aa6f3e",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.text }}    \n\n⏳ Processing your request...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -176
      ],
      "id": "f748fb3f-b044-4d9f-8a42-eb8e1dc6a1d7",
      "name": "Edit a text message",
      "webhookId": "db3f28fd-6dd7-4b28-96df-d6d8f8ecf8c3",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram LinkedIn bot').item.json.callback_query.data }}",
                    "rightValue": "postLinkedIn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6796ed16-50da-420c-a4b4-917c2c72d3a8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post to LinkedIn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "943f7733-36a6-49cf-8f5b-9733aa36821e",
                    "leftValue": "={{ $('Telegram LinkedIn bot').item.json.callback_query.data }}",
                    "rightValue": "generate",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e661f621-9f8f-4633-b4b2-da68f1f89a8d",
                    "leftValue": "={{ $('Telegram LinkedIn bot').item.json.callback_query.data }}",
                    "rightValue": "yesDaily",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Yes to daily"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cef427d9-bd1f-4d64-87b9-24b537f3368a",
                    "leftValue": "={{ $('Telegram LinkedIn bot').item.json.callback_query.data }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No to daily"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        656,
        -208
      ],
      "id": "d2b19771-4be6-4436-b128-b9d2e8519cdb",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Check for query data (buttons)\n- Post to LinkedIn\n- Generate another\n- Yes for inserting data to excel\n- No for inserting data to excel\n",
        "height": 176,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -416
      ],
      "typeVersion": 1,
      "id": "44940f1d-5062-43d0-aada-96b5eac0bb88",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Approved Posting\n- Notifies the user that the post was approved and will be posted on Facebook.\n- Formats the data to get the Caption and FileID(image).\n- Get the image and uploads it on to Facebook Container for Posting.\n- Creates a post and return the link of the post to telegram to explore.\n- Asks user again to post a new post daily then append the topic in the excel.",
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -336
      ],
      "typeVersion": 1,
      "id": "abe400ac-7438-48bb-a2d0-975c8478d874",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "99423f5d-5fc5-483c-8606-4dd811e2a18e",
      "name": "Telegram LinkedIn bot",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -272,
        -176
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram Trigger for (Message & Button Callback)\n- Check first if the trigger is either a message or callback ",
        "height": 112,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -336
      ],
      "typeVersion": 1,
      "id": "b3bb10a6-d8b6-4398-917d-398e116ef209",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## AI Agent to check if the user wants to post\n- If user wants to post proceeds on the usual flow (send message for reassurance)\n- If the message isn't aligned on the the AI agent proceed on explaining this AI ",
        "height": 176,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        32
      ],
      "typeVersion": 1,
      "id": "8c678fd8-95d4-4be2-9d48-3817b54692c6",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12eaa4be-f501-4271-b349-77a1152c629a",
              "name": "text",
              "value": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.reply_to_message.caption }}",
              "type": "string"
            },
            {
              "id": "8d338014-c3ac-439d-b869-7a8bd9484d78",
              "name": "chatid",
              "value": "={{ $json.result.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -352
      ],
      "id": "d058b75a-23ae-436b-a0af-4cb034e43bf0",
      "name": "Re - Format Contents"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.message_id }}",
        "text": "Creating fresh content ✨📱",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        -352
      ],
      "id": "98e96a46-9945-4864-96cb-2daf76620364",
      "name": "Update bot message (generate)",
      "webhookId": "9ac5e38d-06f2-4d4d-95f6-ac1a60bed2ca",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.message_id }}",
        "text": "=Got it {{ $('Telegram LinkedIn bot').item.json.callback_query.message.chat.first_name }}! 😊👍",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        32
      ],
      "id": "28511904-2895-4004-ba20-d322a1ce3320",
      "name": "Update bot message (No Daily)",
      "webhookId": "f3409e94-62df-4c6e-bca2-4d310445ba73",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.message_id }}",
        "text": "=Got it {{ $('Telegram LinkedIn bot').item.json.callback_query.message.reply_to_message.chat.first_name }}! 😊👍",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        -160
      ],
      "id": "c6a2f8b1-7c48-425f-92b3-8da53b256142",
      "name": "Update bot message (Yes Daily)",
      "webhookId": "28f401a9-6cef-434c-b39f-93ce0c5cee61",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Content Creator Ai Linked in').item.json.output.json.chatid }}",
        "text": "=🔍 Take a moment to review! The workflow is paused",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Post to LinkedIn",
                    "additionalFields": {
                      "callback_data": "postLinkedIn"
                    }
                  },
                  {
                    "text": "❌ Generate a new one?",
                    "additionalFields": {
                      "callback_data": "generate"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $json.result.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        224
      ],
      "id": "65d43258-7b7f-4b69-932b-8b703c80e4fe",
      "name": "Confirmation of contents",
      "webhookId": "beb849a6-aa53-485e-bb87-b8702377fd20",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Content Creator Ai Linked in').item.json.output.json.chatid }}",
        "binaryData": true,
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "caption": "={{ $('Content Creator Ai Linked in').item.json.output.json.caption }}\n\n{{ $('Content Creator Ai Linked in').item.json.output.json.hashtags }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        224
      ],
      "id": "c695acfd-778e-4783-b9e7-e27f9e3f3510",
      "name": "Send preview of post",
      "webhookId": "17b332f9-addd-430f-8d85-ea37b7d0ba41",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oOfFGf-j03-10gQr7ixjl0SJjdFgvmOrp-djU0MslJM",
          "mode": "list",
          "cachedResultName": "Social Medias - Ai Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oOfFGf-j03-10gQr7ixjl0SJjdFgvmOrp-djU0MslJM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oOfFGf-j03-10gQr7ixjl0SJjdFgvmOrp-djU0MslJM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatID": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.chat.id }}",
            "Topic / Prompt": "={{ $('Telegram LinkedIn bot').item.json.callback_query.message.reply_to_message.caption }}"
          },
          "matchingColumns": [
            "ChatID"
          ],
          "schema": [
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic / Prompt",
              "displayName": "Topic / Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -160
      ],
      "id": "d69b9968-e9bf-4bbd-8998-3939cfd027e9",
      "name": "Append Topic & ChatID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IzZFdKDy8iaOFYNG",
          "name": "Google Sheets [ Gabriel ]"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Format Data').isExecuted ?\n $json.chatID : $json.chatid }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1264,
        416
      ],
      "id": "cfa49f77-f73e-4cb4-8d1f-d711b24425b3",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Send preview new post').item.json.result.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        720
      ],
      "id": "04449759-9a41-4e3a-a871-c13506fb6e2a",
      "name": "Get the image (Daily)",
      "webhookId": "aec237f0-c763-4217-aa55-b28415cb2c99",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Content Creator Ai Linkedin (DAILY)').item.json.output.json.chatid }}",
        "text": "Posting to your LinkedIn feed 📲🧑‍💼",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        720
      ],
      "id": "5a8f8d89-d372-4e50-9d1f-bcab48adaa17",
      "name": "Re assure new post",
      "webhookId": "d9d85dbb-6c47-4895-9ec6-1b375cff0e38",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Content Creator Ai Linkedin (DAILY)').item.json.output.json.chatid }}",
        "binaryData": true,
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "caption": "={{ $('Content Creator Ai Linkedin (DAILY)').item.json.output.json.caption }}\n\n{{ $('Content Creator Ai Linkedin (DAILY)').item.json.output.json.hashtags }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        720
      ],
      "id": "141a4d15-22de-4a52-86a7-eef516badb7b",
      "name": "Send preview new post",
      "webhookId": "17b332f9-addd-430f-8d85-ea37b7d0ba41",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "person": "wg-655z4NW",
        "text": "={{ $('Content Creator Ai Linkedin (DAILY)').item.json.output.json.caption }}\n\n{{ $('Content Creator Ai Linkedin (DAILY)').item.json.output.json.hashtags }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1696,
        720
      ],
      "id": "b2036720-5c81-4f23-980e-74fdd8dec8de",
      "name": "Create new post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "IQ6MZqklKw1aUXRC",
          "name": "LinkedIn [Gab]"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1b3f6975-1472-4795-abe8-3cb7c058c527"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fc1b17c3-07f5-4c98-ba19-81e44cb43bc8",
                    "leftValue": "={{$json.callback_query}}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Button callback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.message_id }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "catch-all-rule"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prompt"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -48,
        -192
      ],
      "id": "ca2a6e0e-8c10-4f6b-90bc-e0a76d77b436",
      "name": "Router"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=✉️ Send a message like:\n\"Create a post about AI trends in 2025\"\n\"Write a LinkedIn post about productivity tips\"\n\n📸 Get preview → Choose:\n✅ Post to LinkedIn\n❌ Generate new one\n🔗 Receive LinkedIn link\n\n📅 Daily posts - After posting, choose if you want automatic daily content\n💡 Tip: Be specific about your topic!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -352
      ],
      "id": "40fb7c2a-33ee-4e42-af7b-6529ec4dc44d",
      "name": "/start",
      "webhookId": "d2d49e93-866d-443e-ba1a-9f36667304fd",
      "credentials": {
        "telegramApi": {
          "id": "GF0PNRlI08wrjXgG",
          "name": "Telegram [Gabriel - PopAiLinkedin_Bot]"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-preview-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-preview-image-generation"
        },
        "prompt": "={{ $json.output.json.promptImage }}",
        "options": {
          "sampleCount": "={{ $json.output.json.numImages }}",
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        784,
        720
      ],
      "id": "69da82d0-5b79-4ab4-ab6b-4062f7096bb6",
      "name": "Generate new image",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "kIf8f9beW222JuhO",
          "name": "googel nms account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f3287a72-e555-424a-b59f-d66e29ac4d3c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        720
      ],
      "id": "08fe603d-dd8a-42bd-b604-8875ff6e07a2",
      "name": "Webhook",
      "webhookId": "f3287a72-e555-424a-b59f-d66e29ac4d3c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        720
      ],
      "id": "0d6e19e4-cff1-4083-a53d-6cd8f59dfba2",
      "name": "Delay",
      "webhookId": "346974c7-e220-49f4-b434-27ddbbfe990d"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search Google for current trending professional insights, LinkedIn trends, and career development information. Call this multiple times with different keywords for comprehensive research.",
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBAqb-kUBK_8pmKmpoK5R4EEPs8C00rCHM"
            },
            {
              "name": "cx",
              "value": "86e6fcd640afb451f"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('q', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1616,
        416
      ],
      "id": "0c8a252d-70c1-4b22-a240-b37ec17d7c4e",
      "name": "Google_search_engine"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1424,
        416
      ],
      "id": "f160cdf9-10ec-4ef1-9696-a03b6dc3d712",
      "name": "Further_more_information"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search Google for current trending professional insights, LinkedIn trends, and career development information. Call this multiple times with different keywords for comprehensive research.",
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBAqb-kUBK_8pmKmpoK5R4EEPs8C00rCHM"
            },
            {
              "name": "cx",
              "value": "86e6fcd640afb451f"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('q', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        400,
        912
      ],
      "id": "d709a341-d97f-4a39-aa97-c28886a78d5f",
      "name": "Google_search_engine1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        224,
        912
      ],
      "id": "46ed4069-d059-4056-a58b-46b0afc41d1f",
      "name": "Further_more_information1"
    }
  ],
  "pinData": {},
  "connections": {
    "Send a text message": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creator Ai Linked in",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Content Creator Ai Linked in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Send preview of post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Inquiry messages",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Inquiry messages": {
      "main": [
        [
          {
            "node": "Does the user want to post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Inquiry messages",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Does the user want to post?": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the image": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Send the link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator Ai Linked in": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Content Creator Ai Linked in",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format data": {
      "main": [
        [
          {
            "node": "Get the image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send the link": {
      "main": [
        [
          {
            "node": "Ask for daily posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for daily posting": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Notify user for daily post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creator Ai Linkedin (DAILY)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Content Creator Ai Linkedin (DAILY)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Notify user for daily post": {
      "main": [
        [
          {
            "node": "Content Creator Ai Linkedin (DAILY)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator Ai Linkedin (DAILY)": {
      "main": [
        [
          {
            "node": "Generate new image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re assure the user": {
      "main": [
        []
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "Edit a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a text message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Format data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update bot message (generate)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update bot message (Yes Daily)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update bot message (No Daily)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram LinkedIn bot": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re - Format Contents": {
      "main": [
        [
          {
            "node": "Content Creator Ai Linked in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update bot message (generate)": {
      "main": [
        [
          {
            "node": "Re - Format Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update bot message (Yes Daily)": {
      "main": [
        [
          {
            "node": "Append Topic & ChatID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send preview of post": {
      "main": [
        [
          {
            "node": "Confirmation of contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Content Creator Ai Linked in",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get the image (Daily)": {
      "main": [
        [
          {
            "node": "Create new post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re assure new post": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send preview new post": {
      "main": [
        [
          {
            "node": "Re assure new post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new post": {
      "main": [
        [
          {
            "node": "Re assure the user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "/start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Inquiry messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate new image": {
      "main": [
        [
          {
            "node": "Send preview new post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "Get the image (Daily)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_search_engine": {
      "ai_tool": [
        [
          {
            "node": "Content Creator Ai Linked in",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Further_more_information": {
      "ai_tool": [
        [
          {
            "node": "Content Creator Ai Linked in",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google_search_engine1": {
      "ai_tool": [
        [
          {
            "node": "Content Creator Ai Linkedin (DAILY)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Further_more_information1": {
      "ai_tool": [
        [
          {
            "node": "Content Creator Ai Linkedin (DAILY)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8123aeaf-e498-4027-ab06-efcd19e22c03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7824031308db534c7c9e014216a02a2cfe1378532902e3ebe0cf84de7a241ad"
  },
  "id": "aiYQQZAnfY3WONVu",
  "tags": []
}