mysql-communicator-agent/workflow.json
{
  "name": "mysql communicator",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\n\nI am the flai dev database, ask me anything",
        "options": {}
      },
      "id": "234e7fd9-fbeb-4219-859e-3ecb6345af34",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -192,
        192
      ],
      "webhookId": "b0546272-69b8-4684-9812-c2d2de0c9965",
      "typeVersion": 1.1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Steps:\n- A MySQL database. Use the \"SQL DB - List Tables and Schema\" tool first to determine available tables and fields, and only write queries using fields returned by it.\n- convert \"{{ $json.chatInput }}\" into MySQL query, if the query seems to fetch tens of records or more, put a limit 10 on it. \n- do your own EXPLAIN result of MySQL query above when asking for confirmation, basing from the explain, create a very concise summary of the expected result like how many records will it hit and if the query is going to be a heavy or light query\n- store query into memory\n- ask for confirmation from user first if the query is what they want, format the query for human readability with indents and so on. wrap it in plaintext format\n- after positive confirmation execute the query in memory into \"Execute a SQL query in MySQL\" tool.\n- query result must be in tabular format easy to read, format the text according to datatype eg., numbers must be fixed-width and so on.",
        "options": {}
      },
      "id": "31cf1c66-0a1b-4025-a4c2-4512ce1a493d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        192,
        208
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {},
      "id": "af2d3ee3-d8a3-4164-849a-72e24fa5b361",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        224,
        464
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TABLE_NAME, COLUMN_NAME\nFROM INFORMATION_SCHEMA.COLUMNS\nWHERE TABLE_SCHEMA = 'db_flai'\nORDER BY TABLE_NAME, ORDINAL_POSITION;\n",
        "options": {}
      },
      "id": "efbf5566-692b-4cf8-a6ae-12c914016558",
      "name": "SQL DB - List Tables and Schema",
      "type": "n8n-nodes-base.mySqlTool",
      "position": [
        400,
        448
      ],
      "typeVersion": 2.4,
      "credentials": {
        "mySql": {
          "id": "8s4DurYoRa3eREgO",
          "name": "db_flai_10.1.41.59"
        }
      }
    },
    {
      "parameters": {
        "content": "Ask agent a question in plain English. AI Agent will execute a SQL query on your database for the answer",
        "height": 288,
        "width": 272
      },
      "id": "05f8b15d-60bb-4c3b-963a-9069fc8f3893",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "1. Specify your AI model (feel free to change)\n2. Add your MySQL credentials in the \"SQL DB - List Tables and Schema\" and \"Execute a SQL Query in MySQL nodes\"\n3. Update the database name in \"SQL DB - List Tables and Schema\" node. Replace \"your_query_name\" under the Query field with your actual database name",
        "height": 528,
        "width": 560
      },
      "id": "e210b1c9-fc75-4439-a1df-6931c2ff7ac9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('query', 'The SQL query to execute on the database') }}",
        "options": {}
      },
      "id": "cdac0b7b-7560-4cad-b24b-3f08dc9f18b3",
      "name": "Execute a SQL query in MySQL",
      "type": "n8n-nodes-base.mySqlTool",
      "position": [
        528,
        384
      ],
      "typeVersion": 2.4,
      "credentials": {
        "mySql": {
          "id": "8s4DurYoRa3eREgO",
          "name": "db_flai_10.1.41.59"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        400
      ],
      "id": "18284eae-528b-4f23-86d2-ed87c7e09616",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "0fGm0bmsTQiGNBk2",
          "name": "cris@popai.agency [request from AunAli]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        448
      ],
      "id": "be715b48-a862-43fe-86db-cfe07bdc7652",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "m7oGtcdaI429D5Wl",
          "name": "cris' Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL DB - List Tables and Schema": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1442c025-b540-4c5a-82b8-8e86c3f0d53b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b89e421e3d3b00234a3a71d58f20af9ccd29ab9dbca3f763c07354ccbdcd4121"
  },
  "id": "6Pbs2aHAEdRUkELv",
  "tags": []
}